<div class="ui-errorMessage" style={{html-safe
  (concat 'opacity:' (if opacity opacity 0) '; transform : translate3d(0,' (if translateY translateY 20) '%,0)')}}>
  <span>{{errorMessage}}</span>
</div>
