html {
  &.firefox,
  &.safari,
  &.chrome {
    &:not(.android) {
      & .ranking-rank.complete .ranking-number,
      & input:checked {
        & + label {
          & .rating-emoji,
          & .svg-wrapper {
            animation-name: shape;
            animation-duration: .75s;
            animation-timing-function: cubic-bezier(.5, 0, 0, .8);
            animation-delay: .1s;
            animation-iteration-count: 1;

            animation-fill-mode: forwards;
          }
        }
      }
    }
  }
}

.effect-container {
  position: relative;
  pointer-events: none;
}

.particle-wrapper {
  width: @offset*3;
  height: @offset*3;
  .absolute(0, 0, 0, 0);
  margin: 50% 0 0 50%;
  transform: translate(-50%, -50%);
  & .particle-container {
    position: absolute;
    left: 50%;
    & .particle-item {
      position: absolute;
      &:before {
        content: "";
        position: absolute;
        left: -.5px;
        width: 1px;
        border-radius: 50%;
        transform-origin: center bottom;
        transform: scaleY(0);
        will-change: transform;
        background-color: currentColor;
        animation-name: line;
        animation-delay: 0.05s;
        animation-duration: 0.65s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-timing-function: cubic-bezier(0.5, 0, 0, 0.8);
        backface-visibility: hidden;
      }
      &:nth-child(1) {
        top: 0;
        left: 0;
      }
      &:nth-child(2) {
        top: .8rem;
        left: 2.2rem;
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        top: 3rem;
        left: 3rem;
        transform: rotate(90deg);
      }
      &:nth-child(4) {
        top: 5.2rem;
        left: 2.2rem;
        transform: rotate(135deg);
      }
      &:nth-child(5) {
        top: 6rem;
        left: 0;
        transform: rotate(180deg);
      }
      &:nth-child(6) {
        top: 5.2rem;
        left: -2.2rem;
        transform: rotate(-135deg);
      }
      &:nth-child(7) {
        top: 3rem;
        left: -3rem;
        transform: rotate(-90deg);
      }
      &:nth-child(8) {
        top: .8rem;
        left: -2.2rem;
        transform: rotate(-45deg);
      }
    }
  }
  &.s {
    & .particle-container {
      & .particle-item {
        &:before {
          top: @offset;
          height: @offset/2;
        }
      }
    }
  }
  &.m {
    & .particle-container {
      & .particle-item {
        &:before {
          top: @offset/2;
          height: @offset;
        }
      }
    }
  }
  &.l {
    & .particle-container {
      & .particle-item {
        &:before {
          top: @offset/4;
          height: @offset*1.25;
        }
      }
    }
  }
}

@keyframes shape {
  from,
  15% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.10);
  }
  70% {
    transform: scale(.90);
    animation-timing-function: cubic-bezier(.215, .6, .355, 1);
  }
  to {
    transform: scale(1);
    animation-timing-function: cubic-bezier(.755, .05, .855, .05);
  }
}

@keyframes line {
  from {
    transform-origin: center bottom;
    transform: scaleY(0);
  }
  50% {
    animation-timing-function: cubic-bezier(0, 0.65, 0, 0.55);
    transform: scaleY(0.3);
  }
  90% {
    opacity: 1;
  }
  to {
    animation-timing-function: cubic-bezier(0, 0.65, 0, 0.55);
    transform-origin: center top;
    transform: scaleY(0);
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*------------------- responsive -------------------*/

html.mobile {
  & .particle-wrapper {
    &.m {
      & .particle-container {
        & .particle-item {
          &:before {
            top: @offset/1.5;
            height: @offset/1.5;
          }
        }
      }
    }
    &.l {
      & .particle-container {
        & .particle-item {
          &:before {
            top: 0;
            height: @offset*1.5;
          }
        }
      }
    }
  }
}
