.progress-bar {
  position: fixed;
  z-index: 8;
  top: 0;
  right: 0;
  left: 0;
  height: 24px;
  padding: 10px 0;
  pointer-events: none;
  backface-visibility: hidden;
  & .progress-wrapper {
    position: relative;
    margin: 0 auto;
    &:before {
      content: '';
    }
    & .progress {
      position: relative;
      height: 4px;
      transition: width 200ms ease;
      border-radius: @radius-l;
    }
  }
}

/*------------------- responsive -------------------*/

html.desktop,
html.tablet.landscape {
  & .progress-bar {
    & .progress-wrapper {
      padding: 0 @offset*1.5;
      &:before {
        border-radius: @radius-l;

        .absolute(0, @offset*1.5, 0, @offset*1.5);
      }
    }
  }
}

html.tablet.portrait {
  & .progress-bar {
    & .progress-wrapper {
      max-width: 70vw;
      padding: 0;
      &:before {
        border-radius: @radius-l;

        .absolute(0, 0, 0, 0);
      }
    }
  }
}

html.mobile {
  & .progress-bar {
    height: 12px;
    padding: 5px @offset/4;
    & .progress-wrapper {
      &:before {
        .absolute(0, 0, 0, 0);
      }
      & .progress {
        height: 2px;
      }
    }
  }
}
