.submit-actions {
  position: relative;
  height: @offset*6;
  padding: 0 @offset*1.5;
  & button,
  & a.button {
    min-width: @offset*5;
    backface-visibility: hidden;
  }
  & .nextButton {
    & span {
      & + svg {
        margin: 0 -@offset/2 0 @offset/4;
      }
    }
  }
  & .prevButton,
  & .nextButton {
    animation-name: fadein;
    animation-duration: .65s;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-iteration-count: 1;

    animation-fill-mode: forwards;
  }
}

.button {
  display: inline-block;
  padding: @offset/2;
  cursor: pointer;
  transition: background-color 200ms ease, color 200ms ease, border 200ms ease;
  text-align: center;
  border-radius: @radius-m;
  & span,
  & svg {
    display: inline;
    vertical-align: middle;

    fill: currentColor;
  }
}

button {
  font-size: @font-size;
  line-height: @offset/2;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: none;
  outline: 0;
  outline-style: none;
  background-color: transparent;
}

/*------------------- fix -------------------*/

.submit-actions-fix() {
  .submit-actions {
    display: table;
    width: 100%;
    padding: @offset*2.25 @offset*1.5;
    & button {
      display: table-cell;
      vertical-align: middle;
    }
    & .nextButton {
      float: right;
    }
  }
}

html.ie {
  .submit-actions-fix();
}

@supports not(display: flex) {
.submit-actions-fix();
}

/*------------------- supports -------------------*/

.submit-actions-supports() {
  .submit-actions {
    display: flex;
    align-items: center;
    & .nextButton {
      margin-left: auto;
    }
  }
}

html.internet,
html.edge {
  .submit-actions-supports();
}

@supports (display: flex) {
.submit-actions-supports();
}

/*------------------- responsive -------------------*/

html.desktop {
  & .submit-actions {
    & .nextButton {
      position: relative;
      &:before {
        font-size: @font-size/1.25;
        line-height: @offset/1.25;
        display: block;
        height: @offset/1.25;
        margin: auto 0;
        padding: 0 @offset/4;
        content: 'ENTER';
        text-align: center;
        pointer-events: none;
        border: 1px solid;
        border-radius: @radius-s;

        .absolute(0, auto, 0, -@offset*2.25);
      }
    }
  }
}

html.tablet,
html.mobile {
  & button {
    overflow: hidden;
  }
}

html.tablet.portrait {
  & .submit-actions {
    padding: 0;
  }
}

html.mobile {
  & .submit-actions {
    padding: 0 @offset/2;
    & button {
      font-size: @font-size*1.2;
      min-width: inherit;
      padding: @offset/1.25 @offset;
      &.prevButton {
        margin-right: @offset/1.25;
      }
      @supports (display: flex) {
        &.nextButton {
          flex-grow: 2;
        }
      }
    }
  }
}
