.submit-actions {
  position: relative;
  padding: 0 @offset*1.5;
  & button,
  & a.button {
    position: relative;
    min-width: @offset*5;

    backface-visibility: hidden;
  }
  & .nextButton {
    & span {
      & + svg {
        margin: 0 -@offset/2 0 @offset/4;
      }
    }
  }
  & .prevButton,
  & .nextButton {
    animation-name: fadein;
    animation-duration: .65s;
    animation-timing-function: cubic-bezier(.645, .045, .355, 1);
    animation-iteration-count: 1;

    animation-fill-mode: forwards;
  }
}

.button {
  display: inline-block;
  padding: @offset/2;
  cursor: pointer;
  transition: background-color 200ms ease, color 200ms ease, border 200ms ease;
  text-align: center;
  border-radius: @radius-m;
  & span,
  & svg {
    display: inline;
    vertical-align: middle;

    fill: currentColor;
  }
}

button {
  font-size: @font-size;
  line-height: @offset/2;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: none;
  outline: 0;
  outline-style: none;
  background-color: transparent;
}

/*------------------- fix -------------------*/

.submit-actions-fix() {
  .submit-actions {
    display: table;
    width: 100%;
    padding: @offset*2.25 @offset*1.5;
    vertical-align: middle;
    & button {
      display: table-cell;
      margin-top: @offset*2;
      vertical-align: middle;
      &:only-of-type {
        width: 100%;
      }
    }
    & .nextButton {
    }
  }
}

html.ie,
html[class*='safari -8'] {
  .submit-actions-fix();
}

@supports not(display: flex) {
  .submit-actions-fix();
}

/*------------------- supports -------------------*/

.submit-actions-supports() {
  .submit-actions {
    display: flex;

    align-items: center;
    justify-content: center;
    & .nextButton {
    }
  }
}

html.internet,
html.edge {
  .submit-actions-supports();
}

@supports (display: flex) {
  .submit-actions-supports();
}

/*------------------- responsive -------------------*/

html.desktop {
  & .submit-actions {
    justify-content: space-around;
    & button {
      min-height: 44px;
    }
  }
}

html.tablet,
html.mobile {
  & .submit-actions {
    height: @offset*6;
    & button {
      overflow: hidden;
      min-height: 62px;
    }
  }
}

html.tablet.portrait {
  & .submit-actions {
    padding: 0;
  }
}

html.mobile {
  & .submit-actions {
    padding: 0 @offset/2;
    & button {
      font-size: @font-size*1.2;
      min-width: inherit;
      padding: @offset/1.25 @offset;
      &.prevButton {
        margin-right: @offset/2;
      }
      @supports (display: flex) {
        &.nextButton {
          flex-grow: 2;
        }
      }
    }
  }
}
