/* Top Level Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
}

body,
body.ember-application > .ember-view {
  min-height: 100%;
  min-height: 100vh;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-style: normal;
  line-height: normal;
  margin: 0;
  color: rebeccapurple;
  /* Partially Supported Styles */

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
}

@supports (font-synthesis: none) {
  body {
    font-synthesis: none;
  }
}

/* Reset Common HTML Tags */
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
dl,
ol,
ul,
figure {
  margin: 0;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

input[type='radio'],
input[type='checkbox'] {
  margin: 0;
}

/* 如果发现某些标签的字体继承缺失，补在这条规则里来覆盖 */
input,
textarea,
keygen,
select,
button,
pre {
  font-family: inherit;
}

img {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}
