.preview-flag {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  height: 38px;
  padding: 0 1rem;

  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  & h3 {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
  }
}

html.desktop {
  & .preview-flag {
    display: none;
  }
}

html.tablet,
html.mobile {
  & .preview-flag {
    & + article.form-preview {
      padding-top: 38px;
      & .ui-notification,
      & .count-down,
      & .progress-bar {
        top: 38px;
      }
      & section {
        min-height: ~"calc(100vh - 38px)";
        &.full-screen-cover {
          & .data-welcome {
            height: ~"calc(100vh - 38px)";
          }
        }
      }
    }
    & + article {
      & .welcome-iframe {
        padding-top: 38px;
      }
    }
  }
}
