.preview-flag {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  height: 38px;
  padding: 0 1rem;

  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  & h3 {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

html.ie,
html[class*='safari -8'] {
  .ui-preview-fix();
}

@supports not(display: flex) {
  .ui-preview-fix();
}

.ui-preview-fix() {
  .preview-flag {
    & h3 {
      line-height: 38px;
      float: left;
    }
  }
}

.ui-preview-supports() {
  .preview-flag {
    display: flex;

    align-items: center;
  }
}

@supports (display: flex) {
  .ui-preview-supports();
}

html.desktop {
  & .preview-flag {
    display: none;
  }
}

html.tablet,
html.mobile {
  & .preview-flag {
    & + article.form-preview {
      padding-top: 38px;
      & .ui-notification,
      & .count-down,
      & .progress-bar {
        top: 38px;
      }
      & section {

        &.full-screen-cover {
          & .data-welcome {
            height: ~"calc(100vh - 38px)";
          }
        }
      }
    }
    & + article {
      & .welcome-iframe {
        padding-top: 38px;
      }
    }
  }
}
