html.tablet,
html.mobile {
  user-select: none;
  & label {
    & * {
      pointer-events: none;
    }
  }
}

html.tablet.portrait,
html.mobile.landscape,
html.mobile.portrait {
  & .attachment.header,
  & .reward,
  & .reward-header,
  & .wrapper {
    box-shadow: 0 4px 4px 0 fade(black, 15%);
  }
}
