article {
  padding: 48px 0;
}

:global(.choice) {
  position: relative;
  margin-bottom: 12px;
  & input[type="checkbox"],
  & input[type="radio"] {
    position: absolute 0 0 auto 0;
    overflow: hidden;
    opacity: 0;
    outline: 0;
    width: 16px;
    height: 16px;
  }
  & label {
    cursor: pointer;
    display: block;
  }
  & svg {
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
  }
  & span {
    vertical-align: middle;
  }
}

:global(.input) {
  position: relative;
  margin-bottom: 12px;
  & input {
    padding: 8px 8px 8px 32px;
    border-width: 1px;
    &:focus {

    }
  }
  & svg {
    opacity: .4;
    position: absolute 8px auto 8px 8px;
  }
}

:global(.attachment) {
  padding: 24px 0;
}

:global(.row) {
  padding: 24px 0;
  border-bottom-style: solid;
  border-width: 1px;
}

:global(.submit-actions) {
  padding: 24px 0;
  & button {
    overflow: hidden;
    padding: 8px 12px;
    line-height: 20px;
    border-radius: 3px;
  }
}
