{{#if useCustomLogo}}
  {{#if customLogo}}
    <img alt="Custom Logo" src={{customLogo}}>
  {{/if}}
  {{#if customText}}
    <span class="custom-text">{{customText}}</span>
  {{/if}}
{{else}}
  <span>Powered by</span>
  <svg class="choiceform" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 254 62">
    <g id="choiceform" fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='4px'>
      <path d="M29,44a8,8,0,0,1-7,4h0a8,8,0,0,1-8-8V32a8,8,0,0,1,8-8h0a8,8,0,0,1,7,4"/>
      <line x1="38" y1="14" x2="38" y2="47"/>
      <path d="M38,32a8,8,0,0,1,8-8h0a8,8,0,0,1,8,8V47"/>
      <rect x="64" y="24" width="16" height="24" rx="8" ry="8"/>
      <line x1="90" y1="24" x2="90" y2="47"/>
      <line x1="90" y1="14" x2="90" y2="16"/>
      <path d="M115,44a8,8,0,0,1-7,4h0a8,8,0,0,1-8-8V32a8,8,0,0,1,8-8h0a8,8,0,0,1,7,4"/>
      <path d="M139.86,43.75A8.5,8.5,0,0,1,132.5,48h0a8.5,8.5,0,0,1-8.5-8.5V32a8,8,0,0,1,8-8h0a8,8,0,0,1,8,8v2a2,2,0,0,1-2,2H124"/>
      <path d="M150,48V23h0a8,8,0,0,1,8-8h0a8,8,0,0,1,4,1.07"/>
      <line x1="150" y1="28" x2="158" y2="28"/>
      <rect x="166" y="24" width="16" height="24" rx="8" ry="8"/>
      <path class="cls-1" d="M192,47V30a6,6,0,0,1,6-6h0a6,6,0,0,1,4.47,2"/>
      <path d="M210,47V31.3c0.1-4.1,3.4-7.3,7.5-7.3l0,0c4.1-0.1,7.4,3.2,7.5,7.3V47"/>
      <path d="M225,31.29A7.4,7.4,0,0,1,232.5,24h0a7.4,7.4,0,0,1,7.5,7.29V47"/>
    </g>
  </svg>
  <span>Create a <a onclick={{action 'openPage'}}>choiceform</a> in minutes.</span>
{{/if}}