<div class="ranking-rank" data-render-id={{renderId}}>
  <div class="ranking-number">{{sortNo}}</div>
  {{ui-component/ui-label text=text
                          icon=icon
  }}
  <div class="handle"></div>
</div>