<video poster={{@poster}}>
  <source src={{@url}} type={{this.type}}>
</video>
<div class="error-video-cover">
  <div class="ui-loader">
    <svg x="0" y="0" viewBox="0 0 36 36">
      <circle cx="18" cy="18" r="16"/>
    </svg>
  </div>

  <span>{{temp-i18n 'UI_TransVideo'}}</span>
</div>
