<section class={{concat 'welcome ' intro.style}}>
  {{ui-question/-node/intro-cell intro}}
</section>
{{ui-question/-node/button-cell
  nextButton=intro.nextButton
  handleNextClick=intro.handleEvents.handleNextClick
}}