<section class={{concat 'welcome ' intro.style}}>
  <div class="wrapper">
    <div class="row data-welcome" data-render-id={{intro.renderId}}>
      {{ui-component/ui-header intro imageTop=true}}
    </div>
  </div>

</section>
{{ui-question/-node/button-cell
  nextButton=intro.nextButton
  handleNextClick=intro.handleEvents.handleNextClick
}}