<section class={{concat 'welcome ' intro.style}}>
  <div class="wrapper">
    <div class="row" data-render-id={{intro.renderId}}>
      {{ui-question/-node/intro-cell intro}}
    </div>
  </div>
 
</section>
{{ui-question/-node/button-cell
  nextButton=intro.nextButton
  handleNextClick=intro.handleEvents.handleNextClick
}}