@import "var.css";

:global(.survey-title) {

}
:global(.survey-title-background) {

}
:global(.survey-logo-background) {

}
:global(.survey-background) {

}
:global(.page-background) {

}
:global(.page-title) {

}
:global(.page-title-background) {

}
:global(.page-description) {

}
:global(.question-text) {

}
:global(.answer-text) {

}
:global(.answer-text-highlight) {

}
:global(.required-asterisk) {

}
:global(.error-text) {

}
:global(.progress-bar-indicator) {

}
:global(.progress-bar-text) {

}
:global(.progress-bar-border) {

}
:global(.progress-bar-background) {

}

* ::selection {
  color: var(--color10);
  background-color: var(--color9);
}


:global(.row[data-color='color3']) {
  border-color: var(--color3);
}

/*header*/
h2[data-color='color4'] {
  color: var(--color4);
}

pre[data-color='color5'] {
  color: var(--color5);
}

/*choice*/
:global(.choice) {
  & svg[data-color='color6'] {
    fill: var(--color6);
  }
  & svg[data-color='color7'] {
    fill: var(--color7);
  }
  & span[data-color='color6'] {
    color: var(--color6);
  }
  & span[data-color='color7'] {
    color: var(--color7);
  }
}

:global(.input) {
  & input[data-color='color6 color8'] {
    color: var(--color6);
    border-color: var(--color8);
    &:focus {
      border-color: var(--color7);
    }
    &::-webkit-input-placeholder {
      opacity: .6;
      color: var(--color6);
    }
  }
}


/*button*/
button[data-color='color9'] {
  background-color: var(--color9);
}

span[data-color='color10'] {
  color: var(--color10);
}
