:root {
  --color1: #fff;
  --color2: #fff;
  --color3: #5940aa;
  --color4: #5940aa;
  --color5: #5940aa;
  --color6: #5940aa;
  --color7: #5940aa;
  --color8: #5940aa;
  --color9: #5940aa;
  --color10: #fff;
}

