:root {
  --color1: #fff;
  --color2: #fff;
  --color3: #bdc3c7;
  --color4: #4e5b68;
  --color5: #919ba2;
  --color6: #4e5b68;
  --color7: #5940aa;
  --color8: #bdc3c7;
  --color9: #5940aa;
  --color10: #fff;
}

