# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/docs
/tmp

# dependencies
/node_modules
/_node_modules
/bower_components

# misc
.DS_Store
.vscodeignore
/.idea
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
/typings
jsconfig.json
npm-debug.log
testem.log
desgin
