.disclaimer {
  font-size: small;
  position: relative;
  & a {
    cursor: pointer;
    transition: color 200ms ease;
    text-decoration: underline;
  }
}

.disclaimer-contents {
  font-size: .8rem;
  position: relative;
  margin-top: 2rem;
  padding: 1rem 0 0 0;
  & .disclaimer-close {
    width: 64px;
    height: 64px;
    margin: 0 auto;
    padding: 24px;
    cursor: pointer;
    transition: background-color 200ms ease, color 200ms ease;
    border-radius: 50%;

    .absolute(auto, 0, 0, 0);
    transform: translateY(76px);
    & svg {
      display: block;
    }
  }
}

/*------------------- responsive -------------------*/

html.mobile.portrait {
  & .disclaimer {
    font-size: x-small;
  }
}
