.input-alert {
  animation: transform-fade-in 500ms cubic-bezier(.23, 1, .32, 1);

  .absolute(.5rem, auto, auto, .5rem);
  animation-fill-mode: forwards;
  & .alert-wrapper {
    position: relative;
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 2px;
    &:after {
      position: absolute;
      bottom: -.5rem;
      left: 1rem;
      width: 0;
      height: 0;
      content: '';
      border-right: .5rem solid transparent;
      border-left: .5rem solid transparent;
    }
    & span,
    & svg {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

@keyframes transform-fade-in {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(-100%);
    opacity: 1;
  }
}
