.row {
  & + .lazy-loader-wrapper {
    visibility: hidden;
    opacity: 0;
  }
}

.lazy-loader {
  position: relative;

  backface-visibility: hidden;
  &:not(:first-child) {
    & .row {
      padding: 2rem 0;
    }
  }
  &:first-child:not(:only-child) {
    & .row {
      padding-bottom: 2rem;
    }
  }
  &:last-child,
  &:only-child {
    & .row {
      padding-bottom: 1rem;
    }
  }
  &:not(:last-child) {
    & .row {
      .border(auto, 1rem, 0, 1rem, 2px, 1);
    }
  }
}

.lazy-loader-wrapper {
  z-index: 10;
  display: flex;
  visibility: visible;
  transition: opacity .5s ease, visibility .5s ease;
  pointer-events: none;

  justify-content: center;
  align-items: center;
  .absolute(0,0,0,0);
  &:after {
    content: 'Loading ... ' counter(section) '';
    counter-increment: section;
  }
}
