{{progressive-image
  ratio=0.6666666667
  thumbnail="/images/sample-1-thumbnail.jpg"
  image="http://pipsum.com/888x592.jpg"}}

<p>Tortor condimentum lacinia quis vel? Praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra!</p>
