<div class="ui-dropdown ui-text dropdown">
  <ul class='dropdown-list' style="display:none">
    {{#each node.options as |q|}}
      <li data-selected={{q.selected}}>{{q.text}}</li>
    {{/each}}
  </ul>

  {{svg-item "arrows-small-down"}}
</div>
