<div class="ui-dropdown ui-text dropdown">

  {{#ui-component/mobi-select handleSelect=handleEvents.handleOptionClick node=node list=node.options
                              group=node}}
    {{#each node.options as |option|}}
      <option selected={{option.selected}} mutex={{option.mutexNumber}}>{{option.text}}</option>
    {{/each}}
  {{/ui-component/mobi-select}}

  {{svg-item "arrows-small-down"}}
</div>
