<div class="ui-dropdown ui-text dropdown">
  {{#ui-component/mobi-select handleEvents=handleEvents node=node list=node.options group=node}}
    {{#each node.options as |o|}}
      <option selected={{o.selected}} mutex={{o.mutexNumber}}>{{o.text}}</option>
    {{/each}}
  {{/ui-component/mobi-select}}

  {{svg-item "arrows-small-down"}}
</div>
