.cascade-list {
  margin-bottom: 1rem;
  & .cascade-list-wrapper {
    & .cascade-list-tabs {
      font-size: small;
      margin-right: -1px;
      padding: 1rem 0;
      & a {
        position: relative;
        padding: .75rem 2rem .75rem .5rem;
        border: 1px solid transparent;
        border-radius: @radius-m 0 0 @radius-m;
        & span {
          line-height: 1rem;
        }
        & .number {
          font-size: xx-small;
          line-height: 1rem;
          position: absolute;
          top: .75rem;
          right: .5rem;
          min-width: 1rem;
          animation-name: shape;
          animation-duration: .75s;
          animation-timing-function: cubic-bezier(.5, 0, 0, .8);
          animation-delay: .1s;
          animation-iteration-count: 1;
          text-align: center;
          border-radius: .5rem;

          animation-fill-mode: forwards;
        }
        &.selected {
          z-index: 2;
          box-shadow: -2px 1px 4px 0 fade(black, 12%);
        }
      }
    }
    & .cascade-list-mask {
      position: relative;
      min-height: 200px;
      &:before {
        position: absolute;
        top: 1rem;
        right: 0;
        bottom: 1rem;
        left: 0;
        content: '';
        border-radius: @radius-m;
      }
      &.active {
        &:before {
          display: none;
        }
      }
      & .tips {
        text-align: center;
        pointer-events: none;
        & svg {
          opacity: .32;
        }
        & span {
          font-size: x-small;
          margin-top: 1rem;
          opacity: .64;
        }
      }
      & .cascade-list-contents {
        height: 100%;
        padding: 1rem 0 0 .5rem;
        border-radius: @radius-m;
        &:after {
          display: table;
          clear: both;
          content: '';
        }
        & a {
          display: inline-block;
          min-width: calc(~'50% - .5rem');
          margin: 0 .5rem 1rem 0;
          padding: .25rem .5rem;
          text-align: center;
          border-radius: @radius-m;
        }
      }
    }
  }
}

/*------------------- fix -------------------*/

html.ie,
html[class*='safari -8'] {
  .ui-cascade-list-fix();
}

@supports not(display: flex) {
  .ui-cascade-list-fix();
}

@supports (display: flex) {
  .ui-cascade-list-supports();
}

.ui-cascade-list-fix() {
  .cascade-list {
    & .cascade-list-wrapper {
      & .cascade-list-tabs {
        float: left;
        width: 35%;
        & a {
          display: block;
        }
      }
      & .cascade-list-mask {
        display: table;
        float: left;
        width: 65%;
        & .tips {
          display: table-cell;
          padding: 1rem;
          vertical-align: middle;
          & span {
            display: block;
          }
        }
        & .cascade-list-contents {
          & a {
            font-size: small;
          }
        }
      }
    }
  }
}

.ui-cascade-list-supports() {
  .cascade-list {
    & .cascade-list-wrapper {
      display: flex;

      align-items: stretch;
      & .cascade-list-tabs {
        display: flex;
        flex-direction: column;

        flex-shrink: 0;
        & a {
          display: flex;

          align-items: flex-start;
          & span {
            flex-grow: 1;
          }
          & .number {
            flex-shrink: 0;
          }
        }
      }
      & .cascade-list-mask {
        display: flex;
        flex-direction: column;

        flex-grow: 1;
        & .tips {
          position: absolute;
          top: 1rem;
          right: 0;
          bottom: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          margin: auto;
          padding: 1rem 3rem;

          align-items: center;
          justify-content: center;
          & svg {
            flex-shrink: 0;
          }
        }
        & .cascade-list-contents {
          flex-shrink: 0;
          flex-grow: 1;
          & a {
            float: left;
            &.selected {
              animation-name: shape;
              animation-duration: .75s;
              animation-timing-function: cubic-bezier(.5, 0, 0, .8);
              animation-delay: .1s;
              animation-iteration-count: 1;

              animation-fill-mode: forwards;
            }
          }
        }
      }
    }
  }
}
