.list-wrapper {
  &:not(:last-child) {
    margin-bottom: @offset/1.25;
  }
  & > p {
    display: flex;
    align-items: center;
    & img {
      width: 48px;
      margin-right: .5rem;
    }
  }
}
