.list-rate,
.slide-rate {
  padding-top: 1rem !important;
  & .slide-rate-dock {
    margin-bottom: 1rem;
    & li {
      min-height: calc(~'2rem + 2px');
      margin-bottom: .5rem;
      padding: calc(@offset / 8);
      border-radius: @radius-m;
      & .rate-dock-icon {
        min-height: 1.5rem;

        flex-shrink: 0;
        & i {
          & svg {
            display: block;
            width: 24px;
            height: 24px;

            stroke: currentColor;
          }
          & + span {
            margin-left: .5rem;
          }
        }
        & span {
          font-size: x-small;
        }
      }
      & .rate-dock-item {
        margin-left: .5rem;
        & img {
          width: 24px;
          height: 24px;
          margin-left: .5rem;
          animation-name: bounce-in;
          animation-duration: .75s;
          animation-timing-function: cubic-bezier(.5, 0, 0, .8);
          animation-iteration-count: 1;
          border-radius: 50%;

          object-fit: cover;
        }
        & > span {
          font-size: x-small;
          overflow: hidden;
          max-width: 128px;
          margin: .25rem 0 .25rem .5rem;
          padding: .125rem .5rem;
          animation-name: bounce-in;
          animation-duration: .75s;
          animation-timing-function: cubic-bezier(.5, 0, 0, .8);
          animation-iteration-count: 1;
          white-space: nowrap;
          text-overflow: ellipsis;
          border-radius: @radius-s;

          object-fit: cover;
          & .var-light {
            background: none;
            color: currentColor;
          }
        }
      }
    }
  }
  & .swiper-container {
    padding-bottom: 1rem;
    & .swiper-wrapper {
      & .swiper-slide {
        position: relative;
        text-align: center;
        &[data-state='image'] {
          & .slide-image {
            position: relative;
            & img {
              width: 50%;
              color: currentColor;

              object-fit: cover;
            }
            & + p {
              font-size: larger;
              margin: 0 0 1rem 0;
            }
          }
        }
        &[data-state='text'] {
          min-height: 128px;
          & p {
            font-size: larger;
            font-weight: bold;
          }
        }
        & .particle-wrapper {
          margin: auto;
          transform: none;
        }
        &.complete {
          & p {
            animation-name: bounce-in;
            animation-duration: .75s;
            animation-timing-function: cubic-bezier(.5, 0, 0, .8);
            animation-iteration-count: 1;
          }
        }
      }
    }
  }
  & .rate-wrapper {
    &.list {
      margin-top: .5rem;
      border-radius: @radius-m;
      @media (max-width: 320px) {
        & li {
          & span {
            width: 24px;
          }
        }
      }
    }
    &.slide {
      position: relative;
      margin: .5rem 0 0 0;
      padding-top: 1rem;
      &:before {
        position: absolute;
        top: 0;
        right: .25rem;
        left: .25rem;
        height: 2px;
        content: '';
        opacity: .1;
        background-color: currentColor;
      }
    }
    &[data-state='1'],
    &[data-state='2'],
    &[data-state='3'],
    &[data-state='4'] {
      & li {
        & svg {
          width: 48px;
          height: 48px;
        }
        & span {
          font-size: small;
        }
      }
    }
    &[data-state='7'] {
      margin: .5rem -.5rem 0 -.5rem;
    }
    & li {
      &.icon {
        padding: .25rem;
      }
      &.text {
        padding: .125rem;

        flex-grow: 1;
        & a {
          width: 100%;
        }
      }
      & a[data-state='label'] {
        border: 1px solid currentColor;
        border-radius: @radius-m;
        & .effect-container {
          & .svg-wrapper {
            padding: 1rem .125rem;
            & span {
              line-height: 1;
              display: block;
            }
          }
        }
      }
      & a[data-state='icon'] {
        & .effect-container {
          & .particle-wrapper {
            & .particle-container {
              //top: -.2rem;
              //left: calc(~'50% - .2rem');
            }
          }
        }
        & svg {
          stroke: currentColor;
        }
        & + span {
          margin-top: .5rem;
        }
      }
      & svg {
        display: block;
        width: 32px;
        height: 32px;
      }
      & span {
        font-size: x-small;
      }
      &[data-state*='checked'] {
        & a[data-state='icon'] {
          & svg {
            & > * {
              fill: currentColor;
            }
          }
        }
      }
    }
    & + .ui-text {
      margin-top: @offset/1.25;
    }
    @media (max-width: 320px) {
      &[data-state='4'] {
        & li {
          &.text {
            & span {
              font-size: x-small;
            }
          }
        }
      }
      &[data-state='7'] {
        margin: .5rem -1rem 0 -1rem;
        & li {
          & a[data-state='label'] {
            & .effect-container {
              & .svg-wrapper {
                padding: 1rem 0;
              }
            }
          }
        }
      }
      & li {
        & span {
          font-size: x-small;
        }
      }
    }
  }
  & .swiper-pagination {
    font-size: small;
    bottom: 0;
    display: flex;
    pointer-events: none;
    opacity: .5;

    justify-content: center;
    & span {
      line-height: 1rem;
      margin: 0 .25rem;
    }
  }
  & .swiper-navigation {
    position: relative;
    z-index: 2;
    height: 48px;
    margin: -32px -1rem 0 -1rem;
    & a {
      width: 48px;
      height: 48px;
      padding: 16px;
      cursor: pointer;
      border-radius: @radius-m;
      & svg {
        display: block;
      }
    }
  }
}

@keyframes bounce-in {
  from {
    transform: scale(0);
    opacity: 0;
  }
  15% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.10);
    opacity: 1;
  }
  70% {
    transform: scale(.90);
    animation-timing-function: cubic-bezier(.215, .6, .355, 1);
  }
  to {
    transform: scale(1);
    animation-timing-function: cubic-bezier(.755, .05, .855, .05);
  }
}

/*------------------- fix -------------------*/

html.ie,
html[class*='safari -8'] {
  .ui-slide-rate-fix();
}

@supports not(display: flex) {
  .ui-slide-rate-fix();
}

@supports (display: flex) {
  .ui-slide-rate-supports();
}

.ui-slide-rate-fix() {
  .list-rate,
  .slide-rate {
    & .slide-rate-dock {
      & li {
        & .rate-dock-icon {
          display: inline-block;
        }
        & .rate-dock-item {
          display: inline-block;
        }
      }
    }
    & .swiper-container {
      & .swiper-wrapper {
        & .swiper-slide {
          &[data-state='text'] {
            display: table;
            & p {
              display: table-cell;
              vertical-align: middle;
            }
          }
        }
      }
    }
    & .rate-wrapper {
      text-align: center;
      &.list {
      }
      &.slide {
      }
      & li {
        display: inline-block;
        & a {
          display: block;
        }
      }
    }
    & .swiper-navigation {
      & a {
        &.prev {
          float: left;
        }
        &.next {
          float: right;
        }
      }
    }
  }
}

.ui-slide-rate-supports() {
  .list-rate,
  .slide-rate {
    & .slide-rate-dock {
      & li {
        display: flex;
        & .rate-dock-icon {
          display: flex;

          align-items: center;
        }
        & .rate-dock-item {
          display: flex;

          flex-wrap: wrap;
          align-items: center;
        }
      }
    }
    & .swiper-container {
      & .swiper-wrapper {
        & .swiper-slide {
          display: flex;
          flex-direction: column;

          align-items: center;
          justify-content: center;
        }
      }
    }
    & .rate-wrapper {
      display: flex;
      &.list {
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
      }
      &.slide {
        justify-content: space-around;
        align-items: center;
      }
      & li {
        display: flex;
        flex-direction: column;
        text-align: center;

        align-items: center;
        &[data-state*='checked'] {
          & a[data-state='icon'] {
            & svg {
              animation-name: shape;
              animation-duration: .75s;
              animation-timing-function: cubic-bezier(.5, 0, 0, .8);
              animation-delay: .1s;
              animation-iteration-count: 1;

              animation-fill-mode: forwards;
            }
          }
          & a[data-state='label'] {
            animation-name: shape;
            animation-duration: .5s;
            animation-timing-function: cubic-bezier(.5, 0, 0, .8);
            animation-iteration-count: 1;

            animation-fill-mode: forwards;
          }
        }
      }
    }
    & .swiper-navigation {
      display: flex;
      & a {
        &.prev {
          margin-right: auto;
        }
        &.next {
          margin-left: auto;
        }
      }
    }
  }
}

/*------------------- responsive -------------------*/

html.desktop {
  & .slide-rate {
    & .rate-wrapper {
      & li {
        cursor: pointer;
        border-radius: @radius-m;
      }
    }
  }
}
