.ui-auto-complete {
  position: relative;
  padding: @offset/4;
  border: 1px solid currentColor;
  border-radius: @radius-m;
  &:focus-within {
    & .mini-loader {
      display: block;
    }
  }
  & .hide-input {
    display: none;
  }
  & .input-result {
    position: relative;
    & .virtual-input {
      line-height: 2rem;
      width: calc(~'100% - 1rem');
      margin: .5rem;
      padding: 0;
      border: none;
      border-radius: 0;
      &:hover,
      &:focus {
        border: none;
        outline: none;
        box-shadow: none !important;
      }
    }
    & .auto-complete-menu {
      position: absolute;
      z-index: 10;
      bottom: calc(~'100% + 2px');
      max-width: calc(~'100vw - 3rem');
      margin: 0 @offset / 4;
      padding: 1.25rem .25rem .25rem .25rem;
      transform-origin: left bottom;
      border-radius: @radius-s;
      &:after {
        position: absolute;
        top: 100%;
        left: 1.25rem;
        width: 0;
        height: 0;
        margin-left: -.5rem;
        content: ' ';
        pointer-events: none;
        border: .5rem solid transparent;
        border-top-color: currentColor;
      }
      & > span {
        font-size: xx-small;
        line-height: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        padding: .25rem .5rem;
        opacity: .64;
      }
      & .complete-option {
        font-size: small;
        position: relative;
        min-height: 2rem;
        padding: .25rem .5rem;
        cursor: pointer;
        border-radius: @radius-s;
        & > i {
          overflow: hidden;
          width: 24px;
          height: 24px;
          margin-right: .5rem;
          border-radius: 50%;
          & img {
            width: 24px;
          }
        }
      }
    }
  }
  & .mini-loader {
    position: absolute;
    top: @offset / 4;
    right: 0;
    display: none;
  }
  & .auto-complete-tag {
    min-height: 2rem;
    padding: .25rem .5rem;
    border-radius: @radius-s;
    & > i {
      overflow: hidden;
      width: 24px;
      height: 24px;
      margin-right: .5rem;
      border-radius: 50%;
      & img {
        width: 24px;
      }
    }
    & a {
      margin-left: .5rem;
      padding: .5rem;
      cursor: pointer;
      & svg {
        display: block;
        width: 8px;
        height: 8px;
      }
    }
  }
}

@keyframes menu {
  from {
    transform: scale(0);
    opacity: 0;
  }
  15% {
    transform: scale(0);
    opacity: 1;
  }
  40% {
    transform: scale(1.10);
  }
  70% {
    transform: scale(.90);
    animation-timing-function: cubic-bezier(.215, .6, .355, 1);
  }
  to {
    transform: scale(1);
    animation-timing-function: cubic-bezier(.755, .05, .855, .05);
  }
}

// 提示菜单自动隐藏需要用到mousedown事件(不能用touchstart或touchend)
// iso下非输入元素不会触发mousedown事件
// 在ios下强行开启以下样式,能触发mousedown事件
html.ios {
  & .ui-auto-complete {
    cursor: pointer;
  }
}

/*------------------- fix -------------------*/

html.ie,
html[class*='safari -8'] {
  .ui-auto-complete-fix();
}

@supports not(display: flex) {
  .ui-auto-complete-fix();
}

.ui-auto-complete-fix() {
  .ui-auto-complete {
    & .input-result {
      & .auto-complete-menu {
        & .complete-option {
          display: inline-block;
          & > i,
          & > span {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }
    & .auto-complete-tag {
      display: inline-block;
      & > i,
      & > span,
      & a {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

.ui-auto-complete-supports() {
  .ui-auto-complete {
    display: flex;

    align-items: self-start;
    flex-wrap: wrap;
    & .input-result {
      flex-grow: 1;
      & .auto-complete-menu {
        display: flex;
        animation-name: menu;
        animation-duration: .5s;
        animation-timing-function: cubic-bezier(.5, 0, 0, .8);
        animation-iteration-count: 1;

        flex-wrap: wrap;
        align-items: center;
        & .complete-option {
          display: inline-flex;
          margin: .25rem;

          flex-shrink: 0;
          align-items: center;
        }
      }
    }
    & .auto-complete-tag {
      display: inline-flex;
      margin: .5rem;

      flex-shrink: 0;
      align-items: center;
    }
  }
}

@supports (display: flex) {
  .ui-auto-complete-supports();
}
