.header {
  & + .control.choice {
    padding-top: 0;
  }
}

.ui-choice {
  position: relative;

  backface-visibility: hidden;
  & input {
    margin: auto 0;

    .absolute(0, 0, 0, auto);
    .input(@offset/1.25, @offset/1.25);
  }
  & label {
    display: block;
    padding: @offset/1.25 @offset*1.25 @offset/1.25 0;
    cursor: pointer;
    vertical-align: middle;
    white-space: normal;
    word-wrap: break-word;
    & .effect-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 24px;
      height: 24px;
      margin: auto 0;
      & .svg-wrapper {
        width: 24px;
        height: 24px;
        & .option-type {
          width: 24px;
          height: 24px;
          transition: all 100ms ease-in;
          &.radio {
            border-radius: 12px;
            box-shadow: inset 0 0 0 1px currentColor;
          }
          &.radio-active {
            border-radius: 12px;
            box-shadow: inset 0 0 0 7px currentColor;
          }
          &.checkbox {
            border-radius: 2px;
            box-shadow: inset 0 0 0 1px currentColor;
          }
          &.checkbox-active {
            position: relative;
            border-radius: 2px;
            background-color: currentColor;
            box-shadow: inset 0 0 0 1px currentColor;
            & svg {
              position: absolute;
              top: 4px;
              right: 4px;
            }
          }
        }
      }
    }
    & > span {
      font-size: @font-size*1.2;
      line-height: @offset/1.25;
    }
  }
}

/*------------------- fix -------------------*/

.ui-choice-fix() {
  .ui-choice {
    .border(0, 0, auto, 0, 1px, .3);
    &:first-of-type {
      &:before {
        display: none;
      }
    }
    & label {
      & > span {
        display: block;
      }
    }
  }
}


html.ie,
html[class*='safari -8'] {
  .ui-choice-fix();
}

@supports not(display: flex) {
  .ui-choice-fix();
}

/*------------------- supports -------------------*/

.ui-choice-supports() {
  .ui-choice {
    &:not(:first-of-type) {
      .border(0, 0, auto, 0, 1px, .3);
    }
    & label {
      & > span {
        display: flex;
        align-items: center;
      }
    }
  }
}

html.internet,
html.edge {
  .ui-choice-supports();
}

@supports (display: flex) {
  .ui-choice-supports();
}

/*------------------- responsive -------------------*/

html.desktop {
  & .ui-choice {
    & input:focus {
      & + label:before {
        opacity: .1;
      }
    }
    & input:checked {
      & + label:before {
        opacity: 0;
      }
    }
    & label {
      &:hover:before {
        opacity: .1;
      }
      &:before {
        content: '';
        transition: opacity 200ms ease;
        pointer-events: none;
        opacity: 0;
        border-radius: @radius-m;

        .absolute(@offset/2, -@offset/4, @offset/2, -@offset/4);
      }
    }
  }
}
