.ui-end-page {
  & .valid-time {
    position: relative;
    padding-left: @offset/1.25;
    & svg {
      display: block;

      .absolute(3px, auto, auto, 0);
    }
  }

  & .ui-qrcode {
    padding: @offset;
    text-align: center;
    & .scan-icon {
      margin-top: @offset/2;
      & svg {
        display: inline-block;
        vertical-align: middle;
      }
    }
    & p {
      font-size: small;
    }
    & .qrcode-item {
      & canvas {
        width: 100%;
        max-width: @offset*8;
      }
      & span {
        display: block;
      }
    }
  }
}
