.ui-icon {
  position: relative;

  backface-visibility: hidden;
  & input {
    margin: 0;

    .absolute(auto, 0, 0, auto);
    .input(100%, 100%);
    &:checked {
      & + label {
        &.text {
          & .effect-container {
            & .icon-text {
              background-color: currentColor;
            }
          }
        }
        &.svg {
          transition: color 200ms ease;
        }
      }
    }
  }
  & label {
    cursor: pointer;
    &.text {
      & .effect-container {
        & .icon-text {
          width: 88px;
          height: 88px;
          padding: @offset/4;
          border-radius: 1.6rem;
          & span {
            display: -webkit-box;
            overflow: hidden;
            text-align: center;
            word-break: break-word;

            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
          }
        }
      }
    }
    &.svg {
      padding: @offset/2;
      & .effect-container {
        & .svg-wrapper {
          position: relative;
          width: 64px;
          height: 64px;
          & svg {
            display: block;
            margin: auto;

            .absolute(0, 0, 0, 0);
          }
        }
        & + .labels {
          margin-top: @offset/4;
        }
      }
    }
    & .labels {
      padding-top: @offset/4;
      text-align: center;
      & .option-type {
        width: 16px;
        height: 16px;
        margin: 0 auto;
        transition: all 100ms ease-in;
        &.radio {
          border-radius: 8px;
          box-shadow: inset 0 0 0 1px currentColor;
        }
        &.radio-active {
          border-radius: 8px;
          box-shadow: inset 0 0 0 5px currentColor;
        }
        &.checkbox {
          border-radius: 2px;
          box-shadow: inset 0 0 0 1px currentColor;
        }
        &.checkbox-active {
          position: relative;
          border-radius: 2px;
          background-color: currentColor;
          box-shadow: inset 0 0 0 1px currentColor;
          & svg {
            position: absolute;
            width: 12px;
            height: 12px;
            top: 2px;
            right: 2px;
          }
        }
      }
      & span {
        font-size: smaller;
        display: block;
        margin-top: @offset/4;
      }
    }
  }
  @media (max-width: 320px) {
    & label {
      &.text {
        & .effect-container {
          & .icon-text {
            width: 72px;
            height: 72px;
            border-radius: 1.25rem;
          }
        }
      }
    }
  }
}

/*------------------- fix -------------------*/

.icon-fix() {
  .icon {
    text-align: center;
    & .ui-icon {
      display: inline-block;
      width: 24.4%;
      @media (max-width: 767px) {
        width: 32%;
      }
      & label {
        &.text {
          display: block;
          padding: .5rem 0;
          & .effect-container {
            & .icon-text {
              display: table;
              margin: 0 auto;
              & span {
                font-size: small;
                display: table-cell;
                vertical-align: middle;
              }
            }
          }
        }
        &.svg {
          & .effect-container {
          }
        }
      }
    }
  }
}

/*------------------- fix -------------------*/

html.ie,
html[class*='safari -8'] {
  .icon-fix();
}

@supports not(display: flex) {
  .icon-fix();
}

/*------------------- supports -------------------*/

.icon-supports() {
  .icon {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: center;
    & .ui-icon {
      display: flex;
      flex-direction: column;

      align-self: stretch;
      flex-basis: 25%;
      @media (max-width: 767px) {
        flex-basis: 33.3%;
      }
      & input {
        &:checked {
          & + label {
            &.text {
              & .effect-container {
                & .icon-text {
                  animation-name: shape;
                  animation-duration: .75s;
                  animation-timing-function: cubic-bezier(.5, 0, 0, .8);
                  animation-delay: .1s;
                  animation-iteration-count: 1;

                  animation-fill-mode: forwards;
                }
              }
            }
          }
        }
      }
      & label {
        display: flex;
        flex-direction: column;

        flex-grow: 2;
        &.text {
          padding: 1rem 0;
          & .effect-container {
            align-self: center;
            & .icon-text {
              display: flex;

              align-items: center;
              justify-content: center;
            }
          }
        }
        &.svg {
          & .effect-container {
            align-self: center;
          }
        }
      }
    }
  }
}

html.internet,
html.edge {
  .icon-supports();
}

@supports(display: flex) {
  .icon-supports();
}

/*------------------- responsive -------------------*/

html.desktop {
  & .ui-icon {
    & input:checked {
      & + label {
        & .svg-wrapper {
          & svg {
            opacity: 1;
          }
        }
      }
    }
    & label {
      & .svg-wrapper {
        & svg {
          transition: opacity 200ms ease;
          opacity: .8;
        }
      }
      &:hover {
        & .svg-wrapper {
          & svg {
            opacity: 1;
          }
        }
      }
    }
  }
}

/*------------------- custom -------------------*/
.icon {
  & .ui-text,
  & .ui-choice {
    width: 100%;

    flex-basis: 100%;
  }
}
