.ui-rating {
  position: relative;
  backface-visibility: hidden;
  & .rating-wrapper {
    position: relative;
    width: 100%;
    margin-top: @offset/1.25;
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: @radius-m;
    &.score-5 {
      & label {
        padding: 0 @offset/4;
      }
    }
    &.score-6 {
      & label {
        padding: 0 @offset/7;
      }
    }
    &.score-7 {
      & label {
        padding: 0 @offset/10;
      }
    }
  }
  & .rating-labels {
    font-size: small;
    text-align: center;
    vertical-align: bottom;
    word-break: break-all;
    & li {
      margin-top: @offset/4;
      padding: @offset/10;
      backface-visibility: hidden;
    }
  }
  & .rating-shape {
    counter-reset: ranking-badass-counter;
    backface-visibility: hidden;
    & li {
      position: relative;
    }
  }
  & input {
    margin: 0;

    .absolute(auto, 0, 0, auto);
    .input(100%, 100%);
  }
  & label {
    float: left;
    width: 100%;
    margin: @offset/4 0;
    cursor: pointer;
    text-align: center;
    & .effect-container {
      position: relative;
      width: 100%;
      max-width: @offset*1.5;
      height: 100%;
      margin: 0 auto;
      & .svg-wrapper {
        & svg {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      & .rating-emoji {
        font-size: @offset*1.5;
        line-height: @offset*1.5;
        display: block;
      }
    }
  }
  &[data-state="rating-number"] {
    & .rating-wrapper {
      background-color: transparent !important;
      & .rating-shape {
        & li {
          & input:checked {
            & + label {
              & .effect-container {
                & .svg-wrapper {
                  animation-name: none;
                }
                & .particle-wrapper {
                  & .particle-container {
                    & .particle-item {
                      &:before {
                        animation-name: none;
                      }
                    }
                  }
                }
              }
            }
          }
          & label {
            & .effect-container {
              & .svg-wrapper {
                &:before {
                  content: '';
                  position: absolute;
                  top: .25rem;
                  right: .25rem;
                  bottom: .25rem;
                  left: .25rem;
                  border-radius: @radius-m;
                  transition: background-color 200ms ease;
                }
                &:after {
                  content: counter(ranking-badass-counter, decimal);
                  counter-increment: ranking-badass-counter;
                  position: absolute;
                  text-align: center;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  height: 2rem;
                  line-height: 2rem;
                  font-size: larger;
                  margin: auto 0;
                }
                & svg {
                  visibility: hidden;
                }
              }
            }
          }
          &.active {
            & label {
              & .effect-container {
                & .particle-item {
                  &:before {
                    top: @offset/1.8;
                    height: @offset/1.8;
                  }
                }
                & .svg-wrapper {
                  animation-name: shape !important;
                  &:before {
                    background-color: currentColor !important;
                  }
                  &:after {
                    font-weight: bold;
                    color: white !important;
                  }
                }
                & .particle-wrapper {
                  & .particle-container {
                    & .particle-item {
                      &:before {
                        animation-name: line !important;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.rating-fix() {
  .ui-rating {
    padding: @offset/1.25 0;
    .border(0, 0, auto, 0, 1px, .3);
    &:first-child {
      &:before {
        display: none;
      }
    }
    & .rating-wrapper {
      & li {
        float: left;
      }
      &.score-3 {
        & li {
          width: calc(100% / 3);
        }
      }
      &.score-4 {
        & li {
          width: calc(100% / 4);
        }
      }
      &.score-5 {
        & li {
          width: calc(100% / 5);
        }
      }
      &.score-6 {
        & li {
          width: calc(100% / 6);
        }
      }
      &.score-7 {
        & li {
          width: calc(100% / 7);
        }
      }
      &.score-8 {
        & li {
          width: calc(100% / 8);
        }
      }
      &.score-9 {
        & li {
          width: calc(100% / 9);
        }
      }
      &.score-10 {
        & li {
          width: calc(100% / 10);
        }
      }
    }
    & .rating-labels {
      .height-fix();
    }
    & .rating-shape {
      .height-fix();
    }
  }
}

html.ie, html[class*="safari -8"] {
  .rating-fix();
}

@supports not(display: flex) {
  .rating-fix();
}

.ui-rating-supports() {
  .ui-rating {
    & .rating-wrapper {
      &.score-3 {
        & li {
          flex-basis: calc(100% / 3);
        }
      }
      &.score-4 {
        & li {
          flex-basis: calc(100% / 4);
        }
      }
      &.score-5 {
        & li {
          flex-basis: calc(100% / 5);
        }
      }
      &.score-6 {
        & li {
          flex-basis: calc(100% / 6);
        }
      }
      &.score-7 {
        & li {
          flex-basis: calc(100% / 7);
        }
      }
      &.score-8 {
        & li {
          flex-basis: calc(100% / 8);
        }
      }
      &.score-9 {
        & li {
          flex-basis: calc(100% / 9);
        }
      }
      &.score-10 {
        & li {
          flex-basis: calc(100% / 10);
        }
      }
      & .rating-labels {
        display: flex;
        & li {
          align-self: flex-end;
        }
      }
      & .rating-shape {
        display: flex;
      }
    }
    &:not(:first-child) {
      padding-top: @offset/1.25;

      .border(0, 0, auto, 0, 1px, .3);
    }
    &:not(:last-child) {
      padding-bottom: @offset/1.25;
    }
  }
}

html.internet,
html.edge {
  .ui-rating-supports();
}

@supports(display: flex) {
  .ui-rating-supports();
}

html.desktop {
  & .ui-rating {
    & input:checked {
      & + label {
        & .svg-wrapper {
          & svg {
            opacity: 1;
          }
        }
      }
    }
    & label {
      & .svg-wrapper {
        & svg {
          transition: opacity 200ms ease;
          opacity: .8;
        }
      }
      &:hover {
        & .svg-wrapper {
          & svg {
            opacity: 1;
          }
        }
      }
    }
  }
}
