.ui-text {
  position: relative;
  backface-visibility: hidden;
  & textarea {
    -webkit-appearance: textfield;
    vertical-align: bottom;
  }
  & textarea,
  & input {
    margin: 0;
    font-size: @offset/2;
    line-height: 1;
    width: 100%;
    padding: @offset/2;
    resize: none;
    color: currentColor;
    border: 1px solid currentColor;
    border-radius: @radius-m;
    outline: none;
    background-color: transparent;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &::-webkit-input-placeholder {
      line-height: normal;
    }
    &.ui-menu {
      cursor: pointer;
      & ~ svg {
        display: block;
      }
    }
  }
  & > svg {
    width: @offset/2;
    height: @offset/2;
    margin: auto 0;
    transition: opacity 200ms ease;
    opacity: .2;

    .absolute(0, @offset/2, 0, auto);
  }
  &.dropdown {
    & .ui-menu {
      & ~ svg {
        opacity: .8;
      }
    }
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

.mbsc-fr-overlay {
  backface-visibility: hidden;
}

.ui-text-fix() {
  .ui-text {
    margin-bottom: @offset/1.25;
    &:last-child {
      margin-bottom: 0;
    }
    & textarea,
    & input {
      &:invalid {
        & + svg {
          display: block;
        }
      }
      &:focus {
        & + svg {
          opacity: 0;
        }
      }
      &:valid {
        & + svg {
          display: none;
        }
      }
      &.ui-menu {
        border-style: dashed;
      }
    }
    &.dropdown {
      & input {
        border-style: solid;
      }
    }
  }
}

html.ie, html[class*="safari -8"] {
  .ui-text-fix();
}

@supports not(display: flex) {
  .ui-text-fix();
}

.ui-text-supports() {
  .ui-text {
    & textarea,
    & input {
      &:not(.ui-menu) {
        &:invalid {
          & + svg {
            display: block;
          }
        }
        &:focus {
          & + svg {
            opacity: 0;
          }
        }
        &:valid {
          & + svg {
            display: none;
          }
        }
      }
    }
    &:not(:last-child) {
      margin-bottom: @offset/1.25;
    }
    &:not(.dropdown) {
      & .ui-menu {
        border-style: dashed;
      }
    }
  }
}

html.edge,
html.internet {
  .ui-text-supports();
}

@supports (display: flex) {
  .ui-text-supports();
}

html.desktop {
  & .ui-text {
    &:not(.dropdown) {
      &:hover {
        & .ui-menu {
          & ~ svg {
            opacity: .6;
          }
        }
      }
    }
    &.dropdown {
      & .ui-menu {
        transition: box-shadow 200ms ease;
      }
      &:hover {
        & .ui-menu {
          & ~ svg {
            opacity: 1;
          }
        }
      }
    }
  }
}
