.ui-verification {
  & > svg {
    display: block;
    margin: 0 auto @offset auto;
    opacity: .5;
  }
  & .get-verification {
    margin-top: @offset/2;
    & .ui-text {
      margin: 0 @offset/2 0 0;
    }
    & button {
      min-width: @offset*2;
      &.refresh {

      }
    }
    &.captcha {

    }
  }
  & .captcha-wrapper {
    width: 100%;
    margin-top: @offset/2;
    padding: @offset/4;
    border: 1px solid currentColor;
    border-radius: @radius-m;
    & .captcha-canvas {
      overflow: hidden;
      max-width: @offset*4;
      margin: 0 auto;
    }
  }
  & > p {
    margin-top: 1rem;
  }
}

.ui-verification-fix() {
  .ui-verification {
    & .get-verification {
      & .ui-text {
        width: 65%;
        display: inline-block;
      }
      & button {
        width: 30%;
        float: right;
      }
      & .captcha-wrapper {
        width: 65%;
      }
    }
    & > p {
      display: block;
    }
  }
}

html.ie {
  .ui-verification-fix();
}

@supports not(display: flex) {
  .ui-verification-fix();
}

.ui-verification-supports() {
  .ui-verification {
    & .get-verification {
      display: flex;

      flex-wrap: nowrap;
      & .ui-text {
        flex-grow: 2;
      }
      & button {
        &.refresh {
          flex-basis: 30%;
        }
      }
      &.captcha {
        flex-wrap: wrap;
      }
    }
  }
}

html.edge,
html.internet {
  .ui-verification-supports()
}

@supports (display: flex) {
  .ui-verification-supports()
}
