<div class="weight-header">
  <h4>weight charts</h4>
  <div class="weight-chart">
    {{#each node.options as |option|}}
      {{html-safe (concat "<div style='flex-basis:" option.value "%;" "background:" option.color "'></div>")}}
    {{/each}}
  </div>
</div>

{{#each node.options as |option|}}
  {{ui-component/ui-range text=option.text
                          value=option.value
                          handleOptionInput=(action "handleOptionInput" option)}}
{{/each}}