/* Top Level Global Styles */
*, *::before, *::after {
  box-sizing: border-box;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
}

html,
body,
:global(body.ember-application > .ember-view) {
  height: 100%;
  height: 100vh;
}

html {
  font-size: 18px;
  @media only screen
  and (max-device-width: 640px),
  only screen and (max-device-width: 667px),
  only screen and (max-width: 480px)
  { font-size: 14px; }
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: normal;
  /* Partially Supported Styles */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
}

@supports (font-synthesis: none) {
  body {
    font-synthesis: none;
  }
}

/* Reset Common HTML Tags */
h1, h2, h3, h4, h5, h6, p, blockquote, dl, ol, ul {
  margin: 0;
}

pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

ul, ol {
  padding: 0;
  list-style: none;
}

a {
  outline: none;
  text-decoration: none;
}

/* 如果发现某些标签的字体继承缺失，补在这条规则里来覆盖 */
input, textarea, keygen, select, button, pre {
  font-family: inherit;
}

input, textarea {

}

select {

}

img {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
}



svg:not(:root)  {
  display: none;
  overflow: visible;
}

button {

}

