article {
  margin: 0 auto;
  max-width: 960px;
  min-height: fallback(100vh, 100%);
  padding: 2rem;
  @media only screen
  and (min-device-width : 414px)
  and (max-device-width : 736px)
  and (device-width : 414px)
  and (device-height : 736px)
  and (orientation : portrait)
  and (-webkit-min-device-pixel-ratio : 3)
  and (-webkit-device-pixel-ratio : 3)
  { padding: 1rem;}
}

:global(.wrapper) {

}

:global(.row) {
  position: relative;
  padding: 2rem 0;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 1rem;
    right: 1rem;
    height: 1px;
    background-color: currentColor;
  }
}

:global(.page-header) {
  padding: 1rem;
}

:global(.question-header) {
  padding: 1rem;
  & h2 {
    margin-bottom: 1rem;
    word-wrap: break-word;
  }
  & + :global(.control) {
    margin-top: 1rem;
    padding-top: 2rem;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 1rem;
      right: 1rem;
      height: 1px;
      opacity: .1;
      background-color: currentColor;
    }
  }
}

:global(.attachment) {
  padding: 1rem;
}

:global(.control) {
  position: relative;
  padding: 1rem;
  & > div:not(:last-child) {
    margin-bottom: 1rem;
  }
  & :global(.ui-radio),
  & :global(.ui-checkbox) {
    & + div {
      margin-top: 1rem;
    }
    & label {
      cursor: pointer;
    }
  }
  & :global(.ui-text) {
    & input {
      border-radius: 0;
      min-width: 50%;
      &::-webkit-input-placeholder {
        line-height: normal;
      }
      @media(max-width: 479px) {
        width: 100%;
      }
    }
  }
}

:global(.submit-actions) {
  margin-top: 1rem;
  padding: 2rem 1rem;
  & button {
    &:only-of-type,
    &:last-of-type {
      float: right;
    }
  }
}
