article {
  margin: 0 auto;
  max-width: 960px;
  padding: 2rem;
}

section {
  min-height: 100%;
  padding-bottom: 12rem;
  margin-bottom: -12rem;
}

.wrapper {

}

.row {
  position: relative;
  padding: 2rem 0;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 1rem;
    right: 1rem;
    height: 1px;
    background-color: currentColor;
  }
}

.page-header {
  padding: 1rem;
}

.question-header {
  padding: 1rem;
  & h2 {
    margin-bottom: 1rem;
    word-wrap: break-word;
  }
  & + .control {
    margin-top: 1rem;
    padding-top: 2rem;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 1rem;
      right: 1rem;
      height: 1px;
      opacity: .2;
      background-color: currentColor;
    }
  }
}

.attachment {
  padding: 1rem;
}

.control {
  position: relative;
  padding: 1rem;
  & > div:not(:first-child) {
    margin-top: 1rem;
  }
  & textarea,
  & input {
    color: currentColor;
    border-color: currentColor;
    background-color: transparent;
  }
  & .ui-radio,
  & .ui-checkbox {
    & input {

    }
    & + div {
      margin-top: 1rem;
    }
    & label {
      cursor: pointer;
      vertical-align: middle;
    }
  }
}

.ui-dropdown,
.ui-text {
  & textarea,
  & input {
    font-size: 1rem;
    line-height: 1rem;
    padding: .5rem;
    border-radius: 0;
    min-width: 50%;
    @media (max-width: 479px) {
      width: 100%;
    }
    &::-webkit-input-placeholder {
      line-height: normal;
    }
  }
}

.submit-actions {
  margin-top: 1rem;
  padding: 2rem 1rem;
  & button {
    font-size: 1rem;
    padding: .5rem 1rem;
    border: 1px solid currentColor;
    &:only-of-type,
    &:nth-of-type(2) {
      float: right;
    }
  }
}

footer {
  height: 12rem;
  padding-top: 4rem;
  text-align: center;
  & svg:not(:root) {
    display: inline-block;
    height: 1.5rem;
    margin-top: .5rem;
  }
  & span {
    display: block;
    font-size: small;
  }
  a {
    color: currentColor;
    text-decoration: underline;
  }
}

svg:not(:root)  {
  display: none;
  overflow: visible;
  fill: currentColor;
}
