@value ui-white, ui-silver from 'ui-colors';
@value spacing-xs, spacing-s, spacing-m, spacing-l, spacing-xl from 'ui-spacing';
@value radius-s, radius-m, radius-l from 'ui-radius';

:global(.main-wrapper) {
  min-height: 100%;
  padding: 129px 0 0 0;
  &:global(.site) {
    margin-bottom: -62px;
    padding-bottom: 122px;
  }
}

:global(.content-wrapper) {
  position: relative;
  clear: fix;
  @media (max-width: 991px) {
    padding: 0 6.5%;
  }
  @media (max-width: 767px) {
    padding: 0;
  }
}

:global(.w-container) {
  position: relative;
  clear: fix;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 1200px) {
    min-width: 1170px;
  }
  @media (max-width: 991px) {
    width: 728px;
    max-width: 728px;
  }
  @media (max-width: 767px) {
    width: auto;
    max-width: 728px;
    padding: 0 24px;
  }
  @media (max-width: 479px) {
    min-width: 360px;
    max-width: none;
    padding: 0 spacing-m;
  }
  &:global(.normal) {
    @media screen and (min-width: 1200px) {
      min-width: auto;
    }
  }
}
