.progressive-image {
  position: relative;
  overflow: hidden;

  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 1s;

    &.loaded {
      opacity: 1;
    }
  }

  > .thumbnail {
    filter: blur(50px);
  }
}
