html.desktop {
  body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  article {
    min-width: 480px;
  }
  .cell {
    & .ui-radio,
    & .ui-checkbox {
      & label {
        &:hover:before {
          opacity: .1;
        }
        &:before {
          content: "";
          position: absolute;
          left: -.5rem;
          right: -.5rem;
          top: 1rem;
          bottom: 1rem;
          opacity: 0;
          border-radius: 3px;
          pointer-events: none;
          transition: opacity 200ms ease;
        }
      }
    }
    & .ui-dropdown {
      & .ui-menu:hover  {
        & ~ svg{
          opacity: 1;
        }
      }
    }
    .ui-rating {
      & input:checked {
        & + label {
          & svg {
            opacity: 1;
          }
        }
      }
      & svg {
        opacity: .8;
        transition: opacity 200ms ease;
        &:hover {
          opacity: 1;
        }
      }
    }
    .ui-file-upload {
      & input[type="file"] {
        pointer-events: none;
      }
    }
  }
}

html.desktop,
html.tablet.landscape {
  article.one-by-one {
    & .page-header {
      border: none;
    }
  }
  section {
    & > div:only-child {
      &:before {
        content: "";
        position: absolute;
        left: 1rem;
        right: 1rem;
        top: 0;
        height: 1px;
        background-color: currentColor;
      }
    }
  }
}

html.desktop,
html.tablet,
html.mobile.landscape {
  section {
    & > div:only-child {
      position: relative;
      text-align: center;
      & > button:only-child {
        float: none;
        width: 10rem;
      }
    }
  }
  .picture-choice.grid {
    & .cell {
      &:nth-child(odd) {
        padding-right: .75rem;
      }
      &:nth-child(even) {
        padding-left: .75rem;
      }
    }
  }
}

html.tablet,
html.mobile {
  user-select: none;
  & label {
    & * {
      pointer-events: none;
    }
  }
}

html.tablet.portrait {
  article {
    max-width: 70vw;
  }
}

html.tablet.portrait,
html.mobile.landscape {
  article {
    max-width: 70vw;
  }
  .row:last-child {
    &:before {
      display: none;
    }
  }
  .submit-actions {
    padding: 2rem 0;
  }
}

html.mobile.portrait {
  font-size: 14px;
  article {
    padding: 0;
    padding-bottom: 8rem;
    margin-bottom: -8rem;
  }
  .page-header {
    padding: 1.5rem;
  }
  section {

  }
  .wrapper {
    overflow: hidden;
    padding: .5rem;
  }
  .row:last-child {
    padding-bottom: 1rem;
    &:before {
      display: none;
    }
  }
  .picture-choice.grid {
    margin: 1rem -1rem 0 -1rem;
    & .cell {
      &:nth-child(odd) {
        padding-right: .25rem;
      }
      &:nth-child(even) {
        padding-left: .25rem;
      }
    }
  }
  .picture-choice.matrix {
    margin: 1rem -1rem 0 -1rem;
  }
  .active-line {
    top: 1rem;
    height: 2rem;
  }
  .file-upload {
    flex-direction: column;
    & .cell {
      flex-basis: auto;
      & label {
        padding: 1rem .5rem;
      }
    }
  }

  .submit-actions {
    padding: 2rem 1.5rem;
    margin: 2rem 0;
    & button {
      font-size: 1.2rem;
      padding: 1.5rem 2rem;
      &:only-of-type {
        float: none;
        width: 100%;
      }
      &:nth-of-type(2) {
        width: 50%;
      }
    }
  }
  footer {
    height: 8rem;
    padding-top: 2rem;
    margin: 0 1.5rem;
    border-top-width: 1px;
    border-top-style: solid;
    & svg:not(:root) {
      height: 1rem;
    }
    & span {
      font-size: x-small;
    }
  }
}

html.mobile.portrait,
html.mobile.landscape,
html.tablet.portrait {
  article.one-by-one {
    & .attachment {
      padding: 0;
    }
  }
  .page-header {
    & h2 {
      text-align: center;
    }
  }
}
