{{#each this_question.options as |q|}}
  {{ui-option-cell
    nodeType=this_question.nodeType
    name="Sample"
    selected=q.selected
    label=q.text
  }}
{{/each}}

<button>{{this_prevButton}}</button>
{{svg-icon}}
