{{#if button.prevButton}}
  <button data-color="color9" onclick={{action 'handlePrevClick'}}>
    <span data-color="color10">{{button.prevButton}}</span>
  </button>
{{/if}}
{{#if button.nextButton}}
  <button data-color="color9" onclick={{action 'handleNextClick'}}>
    <span data-color="color10">{{button.nextButton}}</span>
  </button>
{{/if}}