{{#if button.prevButton}}
  <button onclick={{action 'prev'}}><span>{{button.prevButton}}</span></button>
{{/if}}
{{#if button.nextButton}}
  <button onclick={{action 'next'}}><span>{{button.nextButton}}</span></button>
{{/if}}