{{#if prevButton}}
  <button onclick={{action 'handlePrevClick'}}>
    <span>{{prevButton}}</span>
  </button>
{{/if}}
{{#if nextButton}}
  <button onclick={{action 'handleNextClick'}}>
    <span>{{nextButton}}</span>
  </button>
{{/if}}
