{{#if prevButton}}
  <button data-color="color9" onclick={{action 'handlePrevClick'}}>
    <span data-color="color10">{{prevButton}}</span>
  </button>
{{/if}}
{{#if nextButton}}
  <button data-color="color9" onclick={{action 'handleNextClick'}}>
    <span data-color="color10">{{nextButton}}</span>
  </button>
{{/if}}