{{#if button.prevButton}}
  <button onclick={{action 'handlePrevClick'}}><span>{{button.prevButton}}</span></button>
{{/if}}
{{#if button.nextButton}}
  <button onclick={{action 'handleNextClick'}}><span>{{button.nextButton}}</span></button>
{{/if}}