<div class="header-container">
  <div class="swiper-wrapper">
    {{#each header.images as |image|}}
      <div class="swiper-slide">
        {{ui-addon/progressive-image
          ratio=image.ratio
          objectFit=(if header.bgImageMode 'cover')
          thumbnail=image.thumbnail
          image=image.natural}}
      </div>
    {{/each}}
  </div>
  <div class="header-pagination"></div>
</div>