{{#if (device 'mobile')}}
  {{#each node.flatten as |outerItem|}}
    <div class="flatten-row">
      <h3>{{outerItem.text}}</h3>
    </div>
    <div class="flatten-column">
      {{#each outerItem.list as |option|}}
        {{ui-question/choice node option handleEvents}}
      {{/each}}
    </div>
  {{/each}}

  {{#each node.otherOptions as |option|}}
    {{ui-question/choice node option handleEvents}}
  {{/each}}

{{else}}



{{/if}}


