.data-welcome {
  & .header {
    position: relative;
    padding: @offset*1.5 @offset/2;

    .border(auto, @offset/2, 0, @offset/2, 2px, .5);
    & h2 {
      text-align: center;
    }
  }
}

.full-screen-cover {
  position: relative;
  padding: 0;
  & .data-welcome {
    padding-bottom: 0;
  }
  &:before {
    z-index: 1;
    content: '';

    .absolute(25%, 0, 0, 0);
  }
  & .attachment {
    padding: 0;
    & .progressive-image {
      & > div {
        padding-top: 100vh !important;
      }
    }
  }
  & .header {
    z-index: 2;

    .absolute(auto, @offset, @offset*6, @offset);
  }
  & + .submit-actions {
    z-index: 2;

    .absolute(auto, 0, 0, 0);
  }
}

/*------------------- responsive -------------------*/

html.tablet.portrait,
html.mobile {
  & .data-welcome {
    & .header {
      padding: @offset @offset/1.25;
      &:before {
        display: none;
      }
    }
  }
  & .full-screen-cover {
    padding: 0;
    & .header {
      background: none;
      box-shadow: none;

      .absolute(auto, 0, @offset*4.1, 0);
    }
  }
}

html.tablet.portrait {
  & .welcome {
    & + .submit-actions {
      justify-content: center;
      & button {
        margin-left: inherit;
      }
    }
  }
}
