<textarea value={{value}}
          placeholder={{placeholder}}
          onblur={{onblur}}
          oninput={{action 'ipTextarea'}}></textarea>
<div class="mini-loader">
  <div class="dot"></div>
  <div class="dot"></div>
  <div class="dot"></div>
</div>