{{#unless node.hideLogo}}
  {{ui-addon/progressive-image
    ratio='1'
    thumbnail=''
    image='https://cform-files.b0.upaiyun.com/UploadFiles/style-copy/img/choiceform.png'}}
{{/unless}}

{{#if (and node.hasReward node.showRewardLimitTime)}}
  <div class="valid-time">
    {{svg-item "time"}}
    <span>{{unbound option.text}}</span>
  </div>
{{/if}}