.icon-preview-container {
  padding: 1rem 2rem 10rem 2rem;
}

.ip-title {
  font-size: 36px;
  color: black;
  margin-top: 64px;
}

.ip-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 24px 0;
  margin-top: 24px;
  border-top: 1px solid black;
  & svg {
    display: block;
    fill: fade(black, 50%);
    align-self: center;
  }
}

.ip-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
}

.ip-container {
  cursor: pointer;
  padding: 12px;
  display: flex;
  align-content: center;
  justify-content: center;
  &:hover {
    background-color: fade(black, 5%);
    box-shadow: inset fade(black, 15%) 0 0 0 1px;
    & svg {
      fill: black;
    }
  }
}

.ip-attr {
  text-align: center;
  z-index: 10;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 128px;
  padding-top: 80px;
  background-color: white;
  border-top: 1px solid silver;
  & span {
    display: block;
    line-height: 48px;
    & strong {
      color: seagreen;
    }
  }
}

.ip-hover {
  position: absolute;
  top: 24px;
  left: 0;
  right: 0;
  color: blue;
  font-size: 24px;
  text-align: center;
}
