<div class="row" data-render-id={{control.renderId}} data-color="color3">
  {{ui-control/header headerData}}
  <div class={{concat "control " control.nodeType}}>


    {{#each control.options as |option|}}
        {{component componentName control option handleEvents}}
    {{/each}}


  </div>
</div>