.full-screen-loading {
  position: relative;
  z-index: 10;

  .absolute(0, 0, 0, 0) !important;
  & .loading-wrapper {
    width: 80px;
    height: 80px;
    text-align: center;
    & svg {
      display: inline-block;
    }
    & span {
      font-size: small;
    }
  }
}

@supports not(display: flex) {
  .full-screen-loading {
    & .loading-wrapper {
      margin: auto;

      .absolute(0, 0, 0, 0);
    }
  }
}

@supports(display: flex) {
  .full-screen-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & .loading-wrapper {
      align-self: center;
    }
  }
}
