.input-alert{
  .absolute(0,0,auto,0);
  text-align: center;
  animation: transform-fade-in 2s cubic-bezier(.6, .04, .98, .335);
  animation-fill-mode: forwards;

  .alert-wrapper {
    position: relative;
    display: inline-block;
    padding: 6px 16px 6px 40px;
    border-radius: 4px;
    font-size: .8rem;
    &:after{
      content: '';
      position: absolute;
      bottom: -10px;
      left: 16px;
      width: 0;
      height: 0;
      border-top: 10px solid;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
    }
    & svg {
      left: 16px;
      display: inline-block;
      opacity: 1;
    }
    span{
      display: inline-block;
    }
  }

}

@keyframes transform-fade-in {
  0% {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  30% {
    opacity: 1;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, -100%, 0);
  }
}
