.progressive-image {
  position: relative;
  overflow: hidden;
  & img,
  & canvas {
    .absolute(0, 0, 0, 0);
    width: 100%;
  }
  & img {
    transition: opacity 1s ease;
    opacity: 0;
    &.loaded {
      opacity: 1;
    }
  }
}

.picture-cover() {
  .attachment {
    & .object-fit {
      & img {
        max-width: inherit;
      }
      &.cover {
        &.fit-row {
          & img {
            height: 100%;
            width: inherit;
            margin-left: 50%;
            transform: translateX(-50%);
          }
        }
        &.fit-column {
          & img {
            margin-top: 50%;
            transform: translateY(-50%);
          }
        }
      }
      &.contain {
        &.fit-row {
          & img {
            margin: auto 0;
          }
        }
        &.fit-column {
          & img {
            margin: 0 auto;
          }
        }
      }
    }
  }
}

html.internet,
html.edge,
html.ie {
  .picture-cover();
  .attachment {
    & img {
      width: 100% !important;
      height: 100% !important;
    }
    & .object-fit {
      &.cover {
        &.fit-row {
          & img {
            width: inherit !important;
          }
        }
        &.fit-column {
          & img {
            height: inherit !important;
          }
        }

      }
      &.contain {
        &.fit-row {
          & img {
            height: inherit !important;
          }
        }
        &.fit-column {
          & img {
            width: inherit !important;
          }
        }
      }
    }
  }
}

@supports not(object-fit: cover) {
.picture-cover();
}

@supports (object-fit: cover) {
  .attachment {
    & .object-fit {
      &.cover {
        & img {
          object-fit: cover;
          height: 100%;
        }
      }
      &.contain {
        & img {
          object-fit: contain;
          height: 100%;
        }
        &.fit-column {
          & img {
            width: 100% !important;
          }
        }
      }
    }
  }
}
