.progressive-image {
  position: relative;
  overflow: hidden;
  & img,
  & canvas {
    .absolute(0, 0, 0, 0);
    width: 100%;
  }
  & img {
    transition: opacity 1s ease;
    opacity: 0;
    &.loaded {
      opacity: 1;
    }
  }
}
