@offset: 2rem;

@radius-s: 2px;
@radius-m: 3px;
@radius-l: 4px;

@font-size: 1rem;

.height-fix() {
  &:after {
    display: table;
    clear: both;
    content: ' ';
  }
}

.border(@top, @right, @bottom, @left, @height, @opacity) {
  &:before {
    position: absolute;
    top: @top;
    right: @right;
    bottom: @bottom;
    left: @left;
    height: @height;
    content: '';
    opacity: @opacity;
    background-color: currentColor;
  }
}

.absolute(@top, @right, @bottom, @left) {
  position: absolute;
  top: @top;
  right: @right;
  bottom: @bottom;
  left: @left;
}

.input(@width,@height) {
  width: @width;
  height: @height;
  overflow: hidden;
  opacity: 0;
  border: none;
}
