footer {
  position: relative;
  height: 12rem;
  padding-top: 4rem;
  text-align: center;
  border-top-width: 1px;
  border-top-style: solid;
  margin: 0 2rem;
  & svg:not(:root) {
    display: inline-block;
    height: 1.5rem;
    margin-top: .5rem;
  }
  & span {
    font-size: small;
    display: block;
  }
  a {
    text-decoration: underline;
    color: currentColor;
  }
  & .custom-logo-text {
    font-size: 1.5rem;
    color: currentColor;
  }
}

/*------------------- responsive -------------------*/

html.mobile {
  & footer {
    height: auto;
    margin: 0 1.5rem;
    padding: 2rem 0;
    & svg:not(:root) {
      height: 1rem;
    }
    & span {
      font-size: x-small;
    }
    & .custom-logo-text {
      font-size: 1rem;
    }
  }
}
