article {
  position: relative;
  &.form-preview {
    & section {
      & ~ .preview-flag {
        visibility: visible;
        & span {
          opacity: 1;
        }
      }
    }
  }
}

section {
  min-height: 100vh;
  margin-bottom: -12rem;
  padding: 2rem 2rem 12rem 2rem;
}

.wrapper {
  counter-reset: section;
}

.row {
  position: relative;
}

.attachment {
  padding: 1rem;
}

.header {
  position: relative;
  padding: 1rem;
  & h2 {
    margin-bottom: 1rem;
    word-wrap: break-word;
  }
  & + .control {
    margin-top: 1rem;
    padding-top: 2rem;

    .border(0, 1rem, auto, 1rem, 1px, .2);
  }
}

.control {
  position: relative;
  padding: 1rem;

  .height-fix();
  & label {
    position: relative;
  }
}

sup {
  display: inline-block;
  padding: 1rem;
  vertical-align: bottom;
  & > span {
    margin-right: .5rem;
    padding: 0 .5rem;
    border-radius: @radius-s;
  }
}



/*------------------- responsive -------------------*/

html.desktop {
  & body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  & .c-container {
    min-width: 480px;
  }
}

html.mobile.portrait,
html.mobile.landscape,
html.tablet.portrait {
  //& article.one-by-one {
  //  & .attachment {
  //    padding: 0;
  //  }
  //}
}

html.tablet.portrait {
  & article {
    max-width: 70vw;
  }
  & section {
    padding: 0 0 12rem 0;
  }
}

html.mobile {
  font-size: 14px;
  & .form-preview {
    & section {
      padding: 3rem 0 12rem 0;
    }
  }
  & section {
    padding: 0 0 12rem 0;
  }
  & .wrapper {
    overflow: hidden;
  }
}
