.one-by-one {
  & .lazy-loader {
    padding: 2rem 0;
    &:before {
      display: none;
    }
    &:last-child,
    &:only-child {
      .row {
        padding-bottom: 0;
      }
    }
  }
}

html.mobile {
  & .one-by-one {

  }
}
