.one-by-one {
  & .preview-flag {
    & ~ section {
      & .row {
        padding-top: 0 !important;
      }
    }
  }
  & .lazy-loader {
    padding: 2rem 0 1rem 0 !important;
    &:before {
      display: none;
    }
  }
}
