.reward-container {
  padding-top: 0;
  &:before {
    display: none;
  }
  & .wechat-profile {
    padding-top: 4rem;
    text-align: center;
    & img {
      overflow: hidden;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
    }
    & span {
      display: block;
      margin-top: .5rem;
    }
  }
  & .reward-header {
    padding: 1rem;
    text-align: center;
    & > h2 {
      margin-bottom: 2rem;
      padding: 3rem 0 4rem 0;
      & + .reward-contents {
        padding-bottom: 0;
        border: none;
      }
    }
    & .reward-contents {
      padding: 2rem 0;
      & h2 {
        margin-bottom: 1rem;
      }
      & .current-time {
        font-size: smaller;
        display: block;
        margin-top: 1rem;
      }
      & .reward-numbering {
        display: inline-block;
        margin-top: 2rem;
        padding: .5rem 1rem;
        border: 1px solid currentColor;
        border-radius: @radius-m;
        & strong {
          padding: 0 .2rem;
        }
      }
    }
    & .congratulations {
      & .ribbon {
        position: relative;
        display: block;
        margin: 1rem 3rem;
        animation: main 250ms;
        & h2 {
          position: relative;
          z-index: 3;
          padding: 1rem;
          text-align: center;
          text-transform: uppercase;
        }
        & i {
          position: absolute;
          &:nth-of-type(1),
          &:nth-of-type(2) {
            position: absolute;
            z-index: 2;
            bottom: -1rem;
            animation: edge 500ms;
            border: 1rem solid transparent;
          }
          &:nth-of-type(1) {
            left: -1rem;
            border-right-color: fade(black, 50%);
          }
          &:nth-of-type(2) {
            right: -1rem;
            border-left-color: fade(black, 50%);
          }
          &:nth-of-type(3),
          &:nth-of-type(4) {
            z-index: 1;
            bottom: -1rem;
            width: 2rem;
            transform-origin: 100% 0;
            animation: back 600ms;
            border-width: 2rem;
            border-style: solid;
          }
          &:nth-of-type(3) {
            left: -3rem;
            border-left-color: transparent !important;
          }
          &:nth-of-type(4) {
            right: -3rem;
            transform-origin: 0 0;
            border-right-color: transparent !important;
          }
        }
      }
      /* animations */
      @keyframes main {
        0% {
          transform: scaleX(0);
        }
        100% {
          transform: scaleX(1);
        }
      }
      @keyframes edge {
        0%,
        50% {
          transform: scaleY(0);
        }
        100% {
          transform: scaleY(1);
        }
      }
      @keyframes back {
        0%,
        75% {
          transform: scaleX(0);
        }
        100% {
          transform: scaleX(1);
        }
      }
    }
  }
  .reward {
    text-align: center;
    & .ui-qrcode {
      padding: 2rem;
      text-align: center;
      & .scan-icon {
        margin-top: 1rem;
        & svg {
          display: inline-block;
          vertical-align: middle;
        }
      }
      & p {
        font-size: small;
      }
      & .qrcode-item {
        & canvas {
          width: 100%;
          max-width: 15rem;
        }
        & span {
          display: block;
        }
      }
    }
    & .currency {
      position: relative;
      margin: 3rem 0 1rem 0;
      padding-bottom: 2rem;
      & input {
        pointer-events: none;

        .absolute(0, 0, 0, 0);
        .input(100%, 100%);
        &:checked {
          & + label {
            animation-name: shape;
            animation-duration: .6s;
            animation-timing-function: cubic-bezier(.5, 0, 0, .8);
            animation-iteration-count: 1;

            animation-fill-mode: forwards;
          }
        }
      }
      & label {
        font-size: large;
        font-weight: bold;
        display: inline-block;
        padding: 2rem;
        cursor: pointer;
        transition: background-color 200ms ease;
        border-radius: 50%;
        & .effect-container {
          & .svg-wrapper {
            position: relative;
            width: 40px;
            height: 40px;
            margin: auto;
            & svg {
              display: block;
            }
          }
        }
      }
      & h3 {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        animation-name: shape;
        animation-duration: .85s;
        animation-timing-function: cubic-bezier(.5, 0, 0, .8);
        animation-iteration-count: 1;

        animation-fill-mode: forwards;
      }
    }
  }
}

.reward-additional {
  padding: 1rem;
  text-align: left;
}

.button-cell-reward {
  justify-content: center;
  & .nextButton {
    margin: inherit;
  }
}

/*------------------- responsive -------------------*/

html.mobile.portrait {
  & .reward-additional,
  & .reward {
    padding: 2rem 1.5rem;
    & .reward-contents {
      padding-top: 0;
    }
  }
}
