{{#each node.options as |option|}}
  {{ui-component/ui-picture uuid=option.uuid
                            selectType=node.selectType
                            placeholder=option.placeholder
                            selected=option.selected
                            value=option.value
                            image=option.image
                            objectFit=node.objectFit
                            text= option.text
                            icon=(if option.selected (concat option.icon "-active") option.icon)
                            handleOptionClick=(action "handleOptionClick" option)}}
{{/each}}
<aside class="thumb-wrapper">
  <ul class="thumb">
    <li class="thumb-item">
      <a style="background-image: url('/images/sample-random/sample-random-0.58-13.jpeg')"></a>
    </li>
    <li class="thumb-item">
      <a style="background-image: url('/images/sample-random/sample-random-0.562-12.jpeg')"></a>
    </li>
    <li class="thumb-item">
      <a style="background-image: url('/images/sample-random/sample-random-0.666-16.jpeg')"></a>
    </li>
  </ul>
</aside>

{{#if (and (eq node.showStyle 'pinterest') isLoading)}}
  <div class="full-screen-loading">
    <div class="loading-wrapper">
      {{ui-addon/svg-item icon="positioning" size="40px" viewBox="40"}}
      <span>loading...</span>
    </div>
  </div>
{{/if}}