{{#each node.options as |option|}}
  {{ui-component/ui-picture uuid=option.uuid
                            selectType=node.selectType
                            placeholder=option.placeholder
                            selected=option.selected
                            value=option.value
                            image=option.image
                            objectFit=node.objectFit
                            text= option.text
                            icon=(if option.selected (concat option.icon "-active") option.icon)
                            handleOptionClick=(action "handleOptionClick" option)}}
{{/each}}
{{#if (and (eq node.showStyle 'pinterest') isLoading)}}
  <div class="full-screen-loading">
    <div class="loading-wrapper">
      {{ui-addon/svg-item icon="positioning" size="40px" viewBox="40"}}
      <span>loading...</span>
    </div>
  </div>
{{/if}}