{{#each node.options as |option|}}
  {{ui-component/ui-picture uuid=(unbound option.uuid)
                            selectType=(unbound node.selectType)
                            placeholder=(unbound option.placeholder)
                            selected=option.selected
                            value=option.value
                            image=(unbound option.image)
                            objectFit=(unbound node.objectFit)
                            text= (unbound option.text)
                            icon=(if option.selected (concat option.icon "-active") option.icon)
                            handleOptionClick=(action "handleOptionClick" option)}}
{{/each}}
<aside class="thumb-wrapper">
  <ul class="thumb">
    {{#each node.options as |option|}}
      {{#if option.selected}}
        <li class="thumb-item">
          <a href={{concat "#" option.renderId}} style={{html-safe (concat "background-image: url('" option.image.natural "')")}}></a>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</aside>

{{#if (and (eq node.showStyle 'pinterest') isLoading)}}
  <div class="full-screen-loading">
    <div class="loading-wrapper">
      {{ui-addon/svg-item icon="positioning" size="40px" viewBox="40"}}
      <span>loading...</span>
    </div>
  </div>
{{/if}}