<header>
  <h2 local-class="page-title">{{intro.title}}</h2>
  <p local-class="page-description">{{intro.description}}</p>
</header>
{{#if intro.images}}
  <div local-class="attachment">
    {{images}}
  </div>
{{/if}}

