{{#each options as |option|}}
  <div class="list-wrapper">
    <p>
      {{#if option.image}}
        <img src={{option.image.large}}>
      {{/if}}
      {{{insert-img option.text}}}
    </p>

    <div class="slider-{{option.index}}"></div>
  </div>
{{/each}}

{{#each node.otherOptions as |option|}}
  {{ui-question/choice node option handleEvents}}
{{/each}}
