{{#ui-component/ui-dropdown node handleEvents titleIcon="map-location"}}
  {{#each node.regions as |region|}}
    <li>{{region.Meaning}}
      <ul>
        {{#each region.cities as |city|}}
          <li>{{city.Meaning}}
            <ul>
              {{#each city.counties as |country|}}
                <li>{{country.Meaning}}</li>
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
  {{/ui-component/ui-dropdown}}