<h1 style="text-align: center">ember-cform-ui</h1>

<h4 style="text-align: center; margin-bottom: 1rem">Quick link</h4>

<ul style="display: flex; flex-wrap: wrap">
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/icon-preview">icon-preview</a></li>
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/welcome">welcome</a></li>
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/choice">choice</a></li>
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/short-text">short-text</a></li>
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/slider">slider</a></li>
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/rating">rating</a></li>
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/ranking">ranking</a></li>
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/dropdown">dropdown</a></li>
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/icon">icon</a></li>
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/file-upload">file-upload</a></li>
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/location">location</a></li>
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/region">region</a></li>
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/intro-page">intro-page</a></li>
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/end-page">end-page</a></li>
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/single">single</a></li>
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/picture-vertical">picture-vertical</a></li>
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/picture-grid">picture-grid</a></li>
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/picture-matrix">picture-matrix</a></li>
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/picture-pinterest">picture-pinterest</a></li>
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/picture-thumbnail">picture-thumbnail</a></li>
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/picture-superscript">picture-superscript</a></li>
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/verification-message">verification-message</a></li>
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/verification-password">verification-password</a></li>
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/verification-v-code">verification-v-code</a></li>
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/reward-weixin">reward-weixin</a></li>
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/reward-custom">reward-custom</a></li>
  <li style="flex-basis: 50%; padding: 1rem;"><a class="button secondary" href="/reward-lottery">reward-lottery</a></li>
</ul>