<li class="active-line-wrapper">
  <span class="active-line"></span>
</li>
<li class="active-line-wrapper">
  <span class="active-line"></span>
</li>
<li class="active-line-wrapper">
  <span class="active-line"></span>
</li>
<li class="active-line-wrapper">
  <span class="active-line"></span>
</li>
<li class="active-line-wrapper">
  <span class="active-line"></span>
</li>
<li class="active-line-wrapper">
  <span class="active-line"></span>
</li>
<li class="active-line-wrapper">
  <span class="active-line"></span>
</li>
<li class="active-line-wrapper">
  <span class="active-line"></span>
</li>
