
/*
article {
  background-color: white;
}

.row {
  margin: -1rem;
  padding: 2.4rem 0;
  border-bottom-style: solid;
  border-width: 1px;
}

.attachment {
  padding: 2.4rem .8rem;
  & img {
    width: 100%;
    transition: all 200ms ease;
  }
}

.option-cell {

}

.question-header {
  padding: .8rem;
}

.ui-radio,
.ui-checkbox {
  padding: .5rem;
  position: relative;
  @media (max-width: 479px) {

  }
  & input[type="checkbox"],
  & input[type="radio"] {
    position: absolute;
    top: .5rem;
    bottom: .5rem;
    left: .5rem;
    overflow: hidden;
    opacity: 0;
    width: 1.2rem;
    height: 1.2rem;
    border: none;
    &:focus {
      & + label {

      }
    }
  }
  & label {
    cursor: pointer;
    display: block;
    position: relative;
    padding-left: 2rem;
  }
  & svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    vertical-align: middle;
  }
  & span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2rem;
  }

  & + :global(.ui-text) {
    padding-left: 3.2rem;
    &:before {
      content: "";
      position: absolute;
      top: .8rem;
      bottom: .8rem;
      left: .8rem;
      width: 1px;
    }
  }
}

.ui-text {
  width: 50%;
  position: relative;
  padding: .5rem;
  @media (max-width: 767px) {
    width: 100%;
  }
  @media (max-width: 479px) {

  }
  & input {
    width: 100%;
    padding: .8rem 3.6rem .8rem 1rem;
    border-width: 1px;
    &:hover {

    }
    &:focus {

    }
  }
  & svg {
    width: 1rem;
    height: 1rem;
    opacity: .2;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
  }
}

.submit-actions {
  padding: 24px 8px;
  & button {
    overflow: hidden;
    padding: 8px 12px;
    line-height: 20px;
    border-radius: 3px;
  }
}
*/
