article {

}

.row {
  &:before {
    height: 2px;
  }
}

.attachment {

}

.control {
  & > div:not(:first-child) {
    margin-top: 0;
  }
}

.question-header {
  & + .control {
    padding-top: 1.5rem;
  }
}

.cell {
  & .ui-radio,
  & .ui-checkbox {
    position: relative;
    & input[type="checkbox"],
    & input[type="radio"] {
      position: absolute;
      right: 0;
      bottom: 0;
      overflow: hidden;
      opacity: 0;
      width: 1.5rem;
      height: 1.5rem;
      margin: 0;
      border: none;
    }
    & label {
      display: block;
      position: relative;
      padding-right: 2.5rem;
    }
    & svg {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 1.5rem;
      height: 1.5rem;
      margin: auto 0;
    }
    & span {
      display: block;
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
    & + .ui-text {
      margin-top: 1.5rem;
    }
  }
  & .ui-dropdown,
  & .ui-text {
    position: relative;
    & textarea,
    & input {
      width: 100%;
      padding: 1rem;
      outline: none;
      border-width: 1px;
      border-style: solid;
      border-radius: 3px;
      resize: none;
      -webkit-appearance: none;
    }
    & input:not(.ui-menu) {
      &:invalid {
        & + svg {
          display: block;
        }
      }
      &:focus {
        & + svg {
          opacity: 0;
        }
      }
      &:valid {
        & + svg {
          display: none;
        }
      }
    }
    & svg {
      width: 1rem;
      height: 1rem;
      opacity: .2;
      margin: auto 0;
      position: absolute;
      top: 0;
      right: 1rem;
      bottom: 0;
      transition: opacity 200ms ease;
    }
    & .ui-menu {
      cursor: pointer;
      border-style: dashed;
      & ~ svg {
        display: block;
      }
    }
  }
  &:not(:first-child) {
    & .ui-radio,
    & .ui-checkbox {
      padding-top: 1.5rem;
      margin-top: 1.5rem;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        opacity: .3;
        background-color: currentColor;
      }
    }
    & .ui-dropdown,
    & .ui-text {
      margin-top: 1.5rem;
    }
  }
}

.submit-actions {
  & button {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    padding: 1rem 2rem;
    color: currentColor;
    border: 1px solid currentColor;
    border-radius: 3px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1rem;
    outline: 0;
    user-select: none;
    outline-style: none;
  }
}
