.picture-layout.full {

}

@supports not(display: flex) {
  .picture-layout.full {
    & .ui-picture {
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;

      .border(auto, 0, 0, 0, 1px, .3);
    }
  }
}

@supports (display: flex) {
  .picture-layout.full {
    flex-direction: column;
    & .ui-picture {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;

        .border(auto, 0, 0, 0, 1px, .3);
      }
    }
  }
}

html.mobile {
  & .picture-layout.full {
    padding: 0 .5rem;
  }
}
