.picture-layout.full {
  & .ui-picture {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;

      .border(auto, 0, 0, 0, 1px, .3);
    }
  }
}

@supports not(display: flex) {

}

@supports (display: flex) {
  .picture-layout.full {
    flex-direction: column;
  }
}

html.mobile {
  & .picture-layout.full {
    padding: 0 .5rem;
  }
}
