.picture-layout.full {

}

/*------------------- fix -------------------*/

.picture-full-fix() {
  .picture-layout.full {
    & .ui-picture {
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;

      .border(auto, 0, 0, 0, 1px, .3);
    }
  }
}

html.ie {
  .picture-full-fix();
}

@supports not(display: flex) {
  .picture-full-fix();
}

/*------------------- supports -------------------*/

.picture-full-supports() {
  .picture-layout.full {
    flex-direction: column;
    & .ui-picture {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;

        .border(auto, 0, 0, 0, 1px, .3);
      }
    }
  }
}

html.internet,
html.edge {
  .picture-full-supports();
}

@supports (display: flex) {
  .picture-full-supports();
}

/*------------------- responsive -------------------*/

html.mobile {
  & .picture-layout.full {
    padding: 0 .5rem;
  }
}
