.picture-layout.grid {
  &.superscript {
    & .ui-picture {
      &:nth-child(odd) {
        & input {
          .absolute(.5rem, 1.25rem, auto, auto);
        }
      }
      &:nth-child(even) {
        & input {
          .absolute(.5rem, .5rem, auto, auto);
        }
      }
    }
  }
}

/*------------------- fix -------------------*/

.picture-grid-fix() {
  .picture-layout.grid {
    & .ui-picture {
      width: 49.6%;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 1.5rem;
    }
  }
}

html.ie {
  .picture-grid-fix();
}

@supports not(display: flex) {
  .picture-grid-fix();
}

/*------------------- supports -------------------*/

.picture-grid-supports() {
  .picture-layout.grid {
    flex-direction: row;

    flex-wrap: wrap;
    & .ui-picture {
      display: flex;
      flex-direction: column;

      flex-basis: 50%;
      &:not(:last-of-type) {
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;

        .border(auto, 0, 0, 0, 1px, .3);
      }
      &:nth-last-of-type(2):nth-of-type(odd) {
        margin-bottom: 0;
        padding-bottom: 0;
        &:before {
          display: none;
        }
      }
    }
  }
}

html.internet,
html.edge {
  .picture-grid-supports();
}

@supports (display: flex) {
  .picture-grid-supports();
}

/*------------------- responsive -------------------*/

html.desktop,
html.tablet,
html.mobile.landscape {
  & .picture-layout.grid {
    & .ui-picture {
      &:nth-child(odd) {
        padding-right: .75rem;
      }
      &:nth-child(even) {
        padding-left: .75rem;
      }
    }
  }
}

html.mobile.portrait {
  & .picture-layout.grid {
    & .ui-picture {
      &:nth-child(odd) {
        padding-right: .25rem;
      }
      &:nth-child(even) {
        padding-left: .25rem;
      }
    }
  }
}
