.picture-layout.grid {
  & .ui-picture {
    &:not(:nth-last-child(-n+2)) {
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;

      .border(auto, 0, 0, 0, 1px, .3);
    }
  }
}

@supports not(display: flex) {
  .picture-layout.grid {
    & .ui-picture {
      width: 50%;
      float: left;
    }
  }
}

@supports (display: flex) {
  .picture-layout.grid {
    flex-direction: row;

    flex-wrap: wrap;
    & .ui-picture {
      display: flex;
      flex-direction: column;

      flex-basis: 50%;
    }
  }
}

@supports (display: flex) {

}

html.desktop,
html.tablet,
html.mobile.landscape {
  & .picture-layout.grid {
    & .ui-picture {
      &:nth-child(odd) {
        padding-right: .75rem;
      }
      &:nth-child(even) {
        padding-left: .75rem;
      }
    }
  }
}

html.mobile.portrait {
  & .picture-layout.grid {
    & .ui-picture {
      &:nth-child(odd) {
        padding-right: .25rem;
      }
      &:nth-child(even) {
        padding-left: .25rem;
      }
    }
  }
}
