.picture-layout.thumbnail {
  flex-direction: column;
  &.superscript {
    & .ui-picture {
      & input {
        right: 60%;
        left: auto;
        margin-right: .5rem;
      }
      & label {
        & .pic-description {
          & .effect-container {
            right: 60%;
            margin-right: .5rem;
          }
        }
      }
    }
    &.pic-s {
      & input {
        right: 75%;
      }
      & label {
        & .pic-description {
          & .effect-container {
            right: 75%;
          }
        }
      }
    }
  }
  & .ui-picture {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;

      .border(auto, 0, 0, 0, 1px, .3);
    }
    & label {
      display: flex;
      & .attachment {
        width: 40%;
        margin-bottom: 0;

        align-self: flex-start;
        flex-shrink: 0;
        & img {
          height: 100%;

          object-fit: cover;
        }
      }
      & .pic-description {
        margin-left: 1.5rem;
      }
    }
  }
  &:not(.superscript) {
    & .ui-picture {
      &.pic-s {
        & input {
          width: 25%;
        }
      }
    }
  }
  &.pic-s {
    & .ui-picture {
      & label {
        & .attachment {
          width: 25%;
        }
      }
    }
  }
}
