.ui-loader {
  backface-visibility: hidden;
  & svg {
    width: 36px;
    height: 36px;
    animation: loading 3s linear infinite;
    & circle {
      stroke-dashoffset: 0;
      stroke-dasharray: 100;
      stroke-width: 3;
      stroke-miterlimit: 3;
      stroke-linecap: round;
      animation: loading-circle 2s linear infinite;
      stroke: currentColor;
      stroke-opacity: .6;
      fill: transparent;
    }
  }
  &.onclick {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 36px;
    height: 36px;
    margin: auto;
    zoom: .6;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-circle {
  0% {
    stroke-dashoffset: 0
  }
  100% {
    stroke-dashoffset: -200;
  }
}

.full-screen-loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  & .loading-wrapper {
    width: 80px;
    height: 80px;
    text-align: center;
    & svg {
      display: inline-block;
    }
    & span {
      font-size: small;
    }
  }
}

.noscroll {
  overflow: hidden;
}

/*------------------- fix -------------------*/

.full-screen-loading-fix() {
  .full-screen-loading {
    & .loading-wrapper {
      margin: auto;

      .absolute(0, 0, 0, 0);
    }
  }
}

html.ie, html[class*="safari -8"] {
  .full-screen-loading-fix();
}

@supports not(display: flex) {
  .full-screen-loading-fix();
}

/*------------------- supports -------------------*/

.full-screen-loading-supports() {
  .full-screen-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & .loading-wrapper {
      align-self: center;
    }
  }
}

html.internet,
html.edge {
  .full-screen-loading-supports();
}

@supports(display: flex) {
  .full-screen-loading-supports();
}
