<div class={{question.nodeName}}>
  {{#each question.options as |q|}}
    {{ui-option-cell
      nodeType=question.nodeType
      name="Sample"
      selected=q.selected
      label=q.text
    }}
  {{/each}}
</div>
{{svg-icon}}
