:global(.theme-basic) {
  & :global(.option-cell) {
    & input {
      display: none;
    }

    & label {
      cursor: pointer;
      display: block;
      margin-bottom: 12px;
    }
    & svg {
      display: inline-block;
      vertical-align: bottom;
    }
  }
  & :global(.input) {
    margin-bottom: 12px;
    & input {

    }
    & svg {
      display: inline-block;
      vertical-align: sub;
    }
  }
}
