{{outlet}}

<section style="margin: 1rem;">
  {{#application/slide-rate as |api|}}
    {{ui-question/slide-rate api.node api.handleEvents options=api.options}}
  {{/application/slide-rate}}
</section>
