@primary: gray;

@secondary: white;
@contrast: #ca2027;
@neutrals: gray;

html.desktop {
  & body {
    background-image: url('/images/sample-2-blur.jpg');
  }
  & article {
    background-color: @secondary;
    box-shadow: 0 4px 4px 0 fade(@primary, 30%);
  }
  & .cell {
    & .ui-radio,
    & .ui-checkbox {
      & label:before {
        background-color: @primary;
      }
    }
    & .ui-picture-choice {
      & input:not(:checked) {
        & + label:hover {
          & .attachment:after {
            background-color: fade(@secondary, 10%);
            box-shadow: inset 0 0 0 1px @secondary, inset 0 0 0 2px @primary;
          }
        }
      }
    }
  }
  & .ui-text {
    & input:not(.ui-menu):hover {
      box-shadow: inset 0 0 0 3px fade(@primary, 10%);
    }
  }
  & .ui-ranking {
    & .ranking-rank:hover {
      box-shadow: inset 0 0 0 1px @primary, 0 3px 6px 0 fade(@primary, 30%);
    }
  }
}

html.tablet.portrait,
html.mobile.landscape,
html.mobile.portrait {
  & body {
    background-color: fade(@primary, 10%);
  }
  & .attachment.header {
    box-shadow: 0 4px 4px 0 fade(@primary, 30%);
  }
  & .reward,
  & .reward-header,
  & .wrapper {
    background-color: @secondary;
    box-shadow: 0 4px 4px 0 fade(@primary, 30%);
  }
  & article.one-by-one {
    & .page-header {
      background-color: @secondary;
      box-shadow: 0 4px 4px 0 fade(@primary, 30%);
    }
  }
  & .wechat-profile {
    background-color: @secondary;
  }
}

html.mobile.portrait {
  & .submit-actions {
    & button {
      &:only-of-type,
      &:nth-of-type(2) {
        color: @secondary;
        background-color: @contrast;
        &:active {
          background-color: fade(@contrast, 80%);
        }
      }
    }
  }
  & footer {
    border-color: fade(@primary, 30%);
    & svg {
      fill: @contrast;
    }
  }
}

//-----------------------------------------------------

body {
  color: @primary;
  background-color: @secondary;
}

.attachment.header {
  background-color: @secondary;
}

.page-header {
  border-color: fade(@primary, 50%);
}

.row {
  &:before {
    color: @contrast;
  }
}

textarea,
input {
  &::-webkit-input-placeholder {
    color: fade(@primary, 50%);
  }
}

.ui-text {
  & input:not(.ui-menu) {
    &:focus {
      border-color: @contrast;
      box-shadow: inset 0 0 0 3px fade(@contrast, 10%) !important;
    }
  }
}

.picture-choice,
.choice {
  & input:checked {
    & + label {
      color: @contrast;
    }
  }
}

.ui-dropdown {
  & .ui-menu {
    box-shadow: 0 2px 0 0 fade(@primary, 50%);
  }
}

.ui-rating {
  background-color: fade(@primary, 10%);
  & input:checked {
    & + label {
      color: @contrast;
    }
  }
}
.picture-choice {
  & .ui-picture-choice {
    & input:checked {
      & + label {
        & .attachment:after {
          box-shadow: inset 0 0 0 2px @contrast, inset 0 0 0 4px @secondary;
        }
      }
    }
    & label {
      & .attachment:before {
        border-top: 4.5rem solid fade(@secondary, 90%);
      }
    }
    &.insert-block {
      & .pic-description {
        color: @secondary;
        background-color: fade(@primary, 50%);
      }
    }
  }
  &.superscript {
    & .ui-picture-choice {
      &.insert-block {
        & .pic-description {
          color: inherit;
          & > span {
            color: @secondary;
            background-color: fade(@primary, 50%);
          }
        }
      }
    }
  }
}

.picture-choice.grid.contain {
  & .attachment {
    background-color: fade(@primary, 30%);
  }
}

.location {
  & .pin {
    & label {
      color: @secondary;
      background-color: @contrast;
    }
    &.positioning {
      & label {
        color: @contrast;
        background-color: @secondary;
      }
    }

    &.failed {
      & label {
        color: @primary;
        background-color: @secondary;
      }
    }
  }
}

.file-upload {
  & .upload-image-icon {
    fill: fade(@primary, 50%);
  }
  & .progress {
    background-color: @contrast;
  }
}

.icon {
  & .labels {
    border-top: 2px solid fade(@primary, 10%);
  }
}

.reward-container {
  & .reward-header {
    & > h2 {
      color: @contrast;
      border-bottom: 1px solid fade(@primary, 50%);
    }
    & .reward-contents {
      border-bottom: 1px solid fade(@primary, 50%);
      & .current-time {
        color: fade(@primary, 50%);
      }
    }
  }
  & .currency {
    & input {
      &:checked {
        & + label {
          color: @secondary;
          background-color: @contrast;
        }
      }
    }
    & label {
      color: @contrast;
      border: 2px solid @contrast;
    }
  }
}
.reward-additional {
  & .disclaimer {
    color: fade(@primary, 50%);
  }
  .disclaimer-contents {
    border-top: 1px solid fade(@primary, 50%);
  }
}

.verification {
  & .captcha {
    border: 1px solid @primary;
  }
}

.ranking {
  & .ui-ranking {
    & .ranking-rank {
      box-shadow: inset 0 0 0 1px fade(@primary, 50%), 0 2px 4px 0 fade(@primary, 30%);
      &.sortable-chosen.complete,
      &.sortable-chosen {
        box-shadow: inset 0 0 0 1px fade(@primary, 50%), 0 4px 8px 0 fade(@primary, 30%);
      }
      &.complete {
        box-shadow: inset 0 0 0 1px fade(@primary, 50%), 0 1px 3px 0 fade(@primary, 30%);
        & label {
          & .select-container {
            color: @contrast;
          }
        }
        & .ranking-number {
          &:before {
            color: fade(@primary, 50%);
          }
        }
      }
    }
  }
}

.icon {
  & .ui-icon-list {
    & input:checked {
      & + label {
        color: @contrast;
        & .svg-wrapper {
          & svg {
            & path {
              fill: @contrast;
            }
          }
        }
      }
    }
    & label {
      & svg {
        & path {
          fill: @primary;
        }
      }
    }
  }
}

.welcome {
  &.full-screen-cover {
    &:before {
      background: linear-gradient(to bottom,fade(@primary, 0%) 0, @primary 100%);
    }
    & .page-header {
      color: @secondary;
      border-color: @secondary;
    }
  }
}


//-----------------------------------------------------

.icon-button {
  transition: color 200ms ease;
  &.primary {
    color: fade(@primary, 50%);
  }
  &.contrast {
    color: fade(@contrast, 50%);
  }
}

.button {
  transition: background-color 200ms ease, color 200ms ease, border 200ms ease;
  &.primary {
    color: @secondary;
    background-color: @primary;
  }
  &.secondary {
    color: @primary;
    border: 1px solid @primary;
  }
  &.contrast {
    color: @secondary;
    background-color: @contrast;
  }
}

html.desktop {
  & .icon-button {
    &.primary:hover {
      color: @primary;
    }
    &.contrast:hover {
      color: @contrast;
    }
  }
  & .button {
    &.primary:hover {
      color: @secondary;
      background-color: @neutrals;
    }
    &.secondary:hover {
      color: @secondary;
      background-color: @primary;
    }
    &.contrast:hover {
      background-color: @primary;
    }
  }
}

html.tablet,
html.mobile {
  & .icon-button {
    &.primary:active {
      color: @primary;
    }
    &.contrast:active {
      color: @contrast;
    }
  }
  & .button {
    &.primary:active {
      color: @secondary;
      background-color: @neutrals;
    }
    &.secondary:active {
      color: @secondary;
      background-color: @primary;
    }
    &.contrast:active {
      background-color: @primary;
    }
  }
}

button {
  background-color: transparent;
  &:active {
    background-color: fade(@primary, 30%);
  }
}

::selection {
  color: @secondary;
  background-color: @primary;
}


//-----------------------------------------------------

.noUi-background {
  background: @secondary;
  box-shadow: 0 0 0 1px fade(@secondary, 50%), 0 0 0 1px @primary;
}

.noUi-connect {
  background: @contrast;
}

.noUi-target.noUi-connect {
  box-shadow: 0 0 0 1px @contrast;
}

.noUi-handle {
  border: 1px solid fade(@primary, 50%);
  background: @secondary;
  box-shadow: inset 0 0 1px @secondary, inset 0 1px 7px fade(@primary, 10%), 0 3px 6px -3px fade(@primary, 50%);
}

.noUi-active {
  box-shadow: inset 0 0 1px @secondary, inset 0 1px 7px fade(@primary, 50%), 0 3px 6px -3px fade(@primary, 50%);
}

.noUi-handle:after,
.noUi-handle:before {
  background: fade(@primary, 50%);
}

[disabled] .noUi-connect,
[disabled].noUi-connect {
  background: #b8b8b8;
}

.noUi-pips {
  color: #999;
}

.noUi-value-sub {
  color: #ccc;
}

.noUi-marker {
  background: #ccc;
}

.noUi-marker-large,
.noUi-marker-sub {
  background: #aaa;
}

.noUi-tooltip {
  border: 1px solid #d9d9d9;
  background: #fff;
}
