.location {
  & .cell {
    & .ui-location {
      text-align: center;
      & .pin {
        display: block;
        padding: 3rem 0;
        & input[type='checkbox'] {
          margin: 0 auto;

          .absolute(3rem, 0, 3rem, 0);
          .input(8rem, 8rem);
        }
        & label {
          display: block;
          width: 8rem;
          height: 8rem;
          margin: 0 auto;
          cursor: pointer;
          transition: background-color 200ms ease;
          border-radius: 50%;
          & .select-container {
            position: absolute;
            z-index: 2;
            width: 8rem;
            height: 8rem;
            color: currentColor;
            & svg {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              display: block;
              width: 5rem;
              height: 5rem;
              margin: auto;
            }
            & .active-line-container {
              margin-top: 1rem;
              & .active-line {
                top: 0;
                height: 3rem;
              }
            }
          }
        }


        &.failed {
          padding-bottom: 1rem;
        }
      }
      & h4 {
        display: block;
        text-align: center;
      }
      & a.button {
        display: inline-block;
        margin-top: 1rem;
      }
    }
  }
}



html.mobile.portrait {
  .location {
    & .cell {
      & .ui-location {
        padding-bottom: 1.5rem;
      }
    }
  }
}
