.preview-flag {
  opacity: .6;
  font-size: 12px;
  line-height: 16px;
  position: fixed;
  z-index: 9999;
  top: 38px;
  left: -46px;
  padding: 5px 64px;
  text-align: center;
  color: #ffffff;
  background-color: #4e5b68;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform: rotate(-45deg);
}
