.reward-container {
  padding-top: 0;
  &:before {
    display: none;
  }
  & .wechat-profile {
    padding-top: 4rem;
    text-align: center;
    & img {
      overflow: hidden;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
    }
    & span {
      display: block;
      margin-top: .5rem;
    }
  }
  & .reward-header {
    padding: 1rem;
    text-align: center;
    & > h2 {
      margin-bottom: 2rem;
      padding: 3rem 0 4rem 0;
      & + .reward-contents {
        padding-bottom: 0;
        border: none;
      }
    }
    & .reward-contents {
      padding: 2rem 0;
      & h2 {
        margin-bottom: 1rem;
      }

      & .current-time {
        font-size: smaller;
        display: block;
        margin-top: 1rem;
      }
    }
  }
  .reward {
    text-align: center;
    & .ui-qrcode {
      padding: 2rem;
      text-align: center;
      & p {
        font-size: small;
        margin-top: 1rem;
      }
      & .qrcode-item {
        & img {
          max-width: 15rem;
        }
      }
    }
    & .currency {
      position: relative;
      margin: 3rem 0 1rem 0;
      padding-bottom: 2rem;
      & input {
        pointer-events: none;

        .absolute(0, 0, 0, 0);
        .input(100%, 100%);
        &:checked {
          & + label {
            animation-name: shape;
            animation-duration: .6s;
            animation-timing-function: cubic-bezier(.5, 0, 0, .8);
            animation-iteration-count: 1;

            animation-fill-mode: forwards;
          }
        }
      }
      & label {
        font-size: large;
        font-weight: bold;
        display: inline-block;
        padding: 2rem;
        cursor: pointer;
        transition: background-color 200ms ease;
        border-radius: 50%;
        & .effect-container {
          & .svg-wrapper {
            position: relative;
            width: 40px;
            height: 40px;
            margin: auto;
            & svg {
              display: block;
            }
          }
        }
      }
      & h3 {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        animation-name: shape;
        animation-duration: .85s;
        animation-timing-function: cubic-bezier(.5, 0, 0, .8);
        animation-iteration-count: 1;

        animation-fill-mode: forwards;
      }
    }
    & .ui-message {
      display: flex;
      & .ui-text {
        margin-right: 1rem;

        flex-grow: 2;
      }
    }
  }
}

.reward-additional {
  padding: 1rem;
  text-align: left;
  & .reward-description {
    margin-bottom: 1rem;
  }
  & .disclaimer {
    font-size: small;
  }
  .disclaimer-contents {
    font-size: .8rem;
    margin-top: 2rem !important;
    padding-top: 1rem;
  }
}

.button-cell-reward {
  justify-content: center;
  & .nextButton {
    margin: inherit;
  }
}

html.mobile.portrait {
  & .reward-additional,
  & .reward {
    padding: 2rem 1.5rem;
    & .reward-contents {
      padding-top: 0;
    }
  }
  & .reward-additional {
    & .disclaimer {
      font-size: x-small;
    }
  }
}
