.submit-actions {
  padding: 4.5rem 3rem;
  .height-fix();
  & button {
    min-width: 10rem;
  }
  & .nextButton {
    & span {
      & + svg {
        margin: 0 -1rem 0 .5rem;
      }
    }
  }
}

@supports not(display: flex) {
  .submit-actions {
    & .nextButton {
      float: right;
    }
  }
}

@supports (display: flex) {
  .submit-actions {
    display: flex;
    & .nextButton {
      margin-left: auto;
    }
  }
}

html.tablet.portrait {
  & .submit-actions {
    padding: 4.5rem 0;
  }
}

html.mobile {
  & .submit-actions {
    padding: 3.9rem 1rem;
    & button {
      min-width: inherit;
      font-size: 1.2rem;
      padding: 1.5rem 2rem;
      &.prevButton {
        margin-right: 1.5rem;
      }
      @supports (display: flex) {
        &.nextButton {
          flex-grow: 2;
        }
      }
    }
  }
}
