.ui-end-page > label{
  padding-left: 32px;
  display: block;
  .effect-container {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    width: 16px;
    height:16px;
    margin: auto;
  }
}
