.header {
  & + .control.file-upload {
    &:before {
      right: 1.725rem;
      left: 1.725rem;
    }
  }
}

.file-upload {
  margin: 0 -.725rem;
  & .ui-file-upload {
    & .upload-item-wrapper {
      padding: 1rem .725rem 0 .725rem;
      width: 100%;
      transition: border 200ms ease;
      text-align: center;
      & .upload-item {
        padding: .5rem;
        position: relative;
        border: 1px solid currentColor;
        border-radius: @radius-m;
        & input[type='file'] {
          .absolute(auto, 0, 0, 0);
          .input(100%, 2.6rem);
        }

        & .upload-progress-bar {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          height: 2px;
          & .upload-progress {
            width: 0;
            height: 2px;
            transition: width 3s cubic-bezier(0.29, 1.1, 0.8, 0.99);
          }
        }

        & > svg {
          display: inline-block;
          margin: 1rem 0;
          pointer-events: none;

          align-self: center;
        }
        & .upload-thumbnail {
          position: relative;
          & img {
            margin-bottom: .5rem;
          }
        }
        & + span {
          font-size: small;
          line-height: normal;
          display: block;
          margin-bottom: -.5rem;
          padding: .5rem;
          text-align: left;
        }
        &.success {
          & label {
            margin-top: auto;
          }
          & a.clear {
            width: 3rem;
            margin-bottom: .5rem;
            cursor: pointer;

            align-self: center;
            & svg {
              display: inline-block;
              vertical-align: middle;
            }
            & span {
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}

/*------------------- fix -------------------*/

.file-upload-fix() {
  .file-upload {
    text-align: center;
    & .ui-file-upload {
      width: 32.8%;
      display: inline-block;
      vertical-align: top;
      @media (max-width: 767px) {
        width: 49%;
      }
      @media (max-width: 476px) {
        width: 100%;
      }
      & .upload-item-wrapper {
        & .upload-item {
          & label {
            width: 100%;
          }
        }
      }
    }
  }
}

html.ie {
  .file-upload-fix();
}

@supports not(display: flex) {
  .file-upload-fix();
}

/*------------------- supports -------------------*/

.file-upload-supports() {
  .file-upload {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: center;
    & .ui-file-upload {
      display: flex;
      flex-basis: 33.333%;
      @media (max-width: 767px) {
        flex-basis: 50%;
      }
      @media (max-width: 476px) {
        width: 100%;

        flex-basis: auto;
      }
      & .upload-item-wrapper {
        display: flex;
        flex-direction: column;
        & .upload-item {
          display: flex;
          flex-direction: column;
          &.success {
            flex-grow: 1;
          }
        }
      }
    }
  }
}

html.internet,
html.edge {
  .file-upload-supports();
}

@supports (display: flex) {
  .file-upload-supports();
}

/*------------------- responsive -------------------*/

html.desktop {
  & .file-upload {
    & input[type='file'] {
      pointer-events: none;
    }
  }
}

html.tablet.portrait,
html.mobile {
  & .header {
    & + .control.file-upload {
      padding-top: 0;
      &:before {
        display: none;
      }
    }
  }
  & .file-upload {
    flex-direction: column;
    & .upload-item-wrapper {
      padding: 1rem;
      & .upload-item {
        & .upload-thumbnail {
          & img {
            margin-bottom: 1rem;
          }
        }
      }
      & label {
        padding: 1rem .5rem;
      }
    }
  }
}
