.ui-matrix {
  & .matrix-wrapper {
    position: relative;
    margin-bottom: 3rem;
    border: 1px solid currentColor;
    & .fix-header {
      position: relative;
      width: 100%;
      padding-left: 50%;
      pointer-events: none;
      border-bottom: 1px solid currentColor;

      .border(0, 50%, 0, auto, auto, 1);
      &:before {
        z-index: 2;
        width: 1px;
      }
      &:after {
        z-index: 1;
        content: '';
        background-color: @secondary;

        .absolute(0, 50%, 0, 0);
      }
      & .fix-header-column {
        position: relative;
        display: table;
        width: 100%;
        padding: 1rem;
        text-align: center;
        &:not(:last-child) {
          .border(0, 0, -1px, auto, auto, .3);
          &:before {
            width: 1px;
          }
        }
        & span {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
    & .matrix-content {
      position: relative;
      & .fix-column {
        position: relative;
        float: left;
        width: 50%;
        pointer-events: none;

        .border(0, 0, -1px, auto, auto, 1);
        &:before {
          width: 1px;
        }
        & li {
          position: relative;
          display: table;
          width: 100%;
          min-height: 3.5rem;
          padding: 1rem;
          &:not(:last-child) {
            .border(auto, 0, -1px, 0, 1px, .3);
          }
          & span {
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
      & .column-container {
        position: static;
        & .column {
          position: relative;
          outline: none;
          &:not(:last-child) {
            .border(0, 0, -1px, auto, auto, .3);
            &:before {
              width: 1px;
            }
          }
          &:first-child {
            & .column-item {
              &:before {
                left: -50% !important;
              }
            }
          }
          &:last-child {
            & .column-item {
              &:before {
                right: -50% !important;
              }
            }
          }
          & .column-item {
            position: relative;
            &:not(:last-child) {
              .border(auto, 0, 0, 0, 1px, .3);
            }
            & input {
              margin: auto;

              .absolute(0, 0, 0, 0);
              .input(1.5rem, 1.5rem);
            }
            & label {
              width: 3.5rem;
              height: 3.5rem;
              margin: auto;
              cursor: pointer;
              text-align: center;

              .absolute(0, 0, 0, 0);
              & .effect-container {
                width: 1.5rem;
                height: 1.5rem;
                margin: auto;

                .absolute(0, 0, 0, 0);
                & .svg-wrapper {
                  & svg {
                    display: block;
                    width: 1.5rem;
                    height: 1.5rem;
                  }
                }
              }
            }
          }
        }
        & .swiper-pagination {
          bottom: -2rem;
          & .swiper-pagination-bullet-active {
            background-color: @contrast;
          }
        }
      }
    }
  }
}

.matrix-thumbnail {
  z-index: 4;
  display: flex;
  height: 200px;

  .absolute(0, 50%, auto, 0);
  justify-content: center;
  & .matrix-thumbnail-wrapper {
    align-self: center;
    & ul {
      & li {
        float: left;
        padding: 4px;
        &.active {
          & span {
            background-color: @contrast;
          }
        }
        & span {
          display: block;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: fade(@primary, 50%);
        }
      }
    }
  }
}
