.ui-rating {
  position: relative;
  & .rating-wrapper {
    position: relative;
    width: 100%;
    margin-top: 1.5rem;
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: @radius-m;
    &.score-5 {
      & label {
        padding: 0 .5rem;
      }
    }
    &.score-6 {
      & label {
        padding: 0 .3rem;
      }
    }
    &.score-7 {
      & label {
        padding: 0 .2rem;
      }
    }
  }
  & .rating-labels {
    font-size: small;
    text-align: center;
    vertical-align: bottom;
    word-break: break-all;
    & li {
      margin-top: .5rem;
      padding: .2rem;
    }
  }
  & .rating-shape {
    & li {
      position: relative;
    }
  }
  & input {
    margin: 0;

    .absolute(auto, 0, 0, auto);
    .input(100%, 100%);
  }
  & label {
    float: left;
    width: 100%;
    margin: .5rem 0;
    cursor: pointer;
    text-align: center;
    & .effect-container {
      position: relative;
      width: 100%;
      max-width: 3rem;
      height: 100%;
      margin: 0 auto;
      & .svg-wrapper {
        & svg {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      & .rating-emoji {
        font-size: 3rem;
        line-height: 3rem;
        display: block;
      }
    }
  }
  &:not(:first-child) {
    padding-top: 1.5rem;

    .border(0, 0, auto, 0, 1px, .3);
  }
  &:not(:last-child) {
    padding-bottom: 1.5rem;
  }
}

@supports not(display: flex) {
  .ui-rating {
    & .rating-wrapper {
      & li {
        float: left;
      }
      &.score-3 {
        & li {
          width: calc(100% / 3);
        }
      }
      &.score-4 {
        & li {
          width: calc(100% / 4);
        }
      }
      &.score-5 {
        & li {
          width: calc(100% / 5);
        }
      }
      &.score-6 {
        & li {
          width: calc(100% / 6);
        }
      }
      &.score-7 {
        & li {
          width: calc(100% / 7);
        }
      }
    }
    & .rating-labels {
      .height-fix();
    }
    & .rating-shape {
      .height-fix();
    }
  }
}

@supports(display: flex) {
  .ui-rating {
    & .rating-wrapper {
      &.score-3 {
        & li {
          flex-basis: calc(100% / 3);
        }
      }
      &.score-4 {
        & li {
          flex-basis: calc(100% / 4);
        }
      }
      &.score-5 {
        & li {
          flex-basis: calc(100% / 5);
        }
      }
      &.score-6 {
        & li {
          flex-basis: calc(100% / 6);
        }
      }
      &.score-7 {
        & li {
          flex-basis: calc(100% / 7);
        }
      }
      & .rating-labels {
        display: flex;
        & li {
          align-self: flex-end;
        }
      }
      & .rating-shape {
        display: flex;
      }
    }
  }
}

html.desktop {
  & .ui-rating {
    & input:checked {
      & + label {
        & .svg-wrapper {
          & svg {
            opacity: 1;
          }
        }
      }
    }
    & label {
      & .svg-wrapper {
        & svg {
          transition: opacity 200ms ease;
          opacity: .8;
        }
      }
      &:hover {
        & .svg-wrapper {
          & svg {
            opacity: 1;
          }
        }
      }
    }
  }
}
