.data-verification {
  & .verification {

  }
}

.ui-verification {
  & > svg {
    display: block;
    margin: 0 auto 2rem auto;
    opacity: .5;
  }
  & .ui-text {
    & + .get-verification {
      margin-top: 1.5rem;
    }
  }
  & .get-verification {
    display: flex;
    flex-wrap: nowrap;
    & .ui-text {
      margin-right: 1rem;

      flex-grow: 2;
    }
    & button {
      min-width: 5rem;
      &.refresh {
        flex-basis: 30%;
      }
    }
    &.captcha {
      flex-wrap: wrap;
    }
  }
  & .captcha-wrapper {
    margin-top: 1rem;
    padding: .5rem;
    width: 100%;
    border-radius: @radius-m;
    border: 1px solid currentColor;
    & .captcha-canvas {
      overflow: hidden;
      max-width: 8rem;
      margin: 0 auto;
    }
  }
  & > p {
    margin-top: 1rem;
  }
}
