.welcome {
  & .row {
    padding-bottom: 0;
    &:before {
      display: none;
    }
  }
  & .page-header {
    padding: 3rem 0;
    border-width: 2px;
  }
  &.full-screen-cover {
    position: relative;
    padding: 0;
    &:before {
      z-index: 1;
      content: '';

      .absolute(25%, 0, 0, 0);
    }
    & .attachment {
      & .progressive-image {
        height: 100vh;
        & img {
          height: 100vh;

          object-fit: cover;
        }
      }
    }
    & .page-header {
      padding: 3rem;
      z-index: 2;

      .absolute(auto, 0, 12rem, 0);
    }
  }
  & + .submit-actions {
    z-index: 2;

    .absolute(auto, 0, 0, 0);
  }
}


html.tablet.portrait,
html.mobile {
  .welcome {
    & .row {
      padding-bottom: 0;
    }
    &.full-screen-cover {
      padding: 0;
      & .page-header {
        padding: 1rem;
        background: none;
        box-shadow: none;

        .absolute(auto, 0, 8.2rem, 0);
      }
    }
    & + .submit-actions {
      padding: 2rem 1rem;
    }
  }
}
