{{#if intro.images}}
  <figure class="attachment header">
    {{#each intro.images as |image|}}
      {{ui-addon/progressive-image
        ratio=image.ratio
        thumbnail=image.thumbnail
        image=image.natural}}
    {{/each}}
  </figure>
{{/if}}
<header class="page-header">
  <h2 class="page-title">{{intro.title}}</h2>
  <p class="page-description">{{intro.summary}}</p>
  {{#if intro.description}}
    <p class="page-description">{{intro.description}}</p>
  {{/if}}
</header>