<div class="wrapper">

  {{#each question.control as |control|}}
    {{ui-control/control control question.handleEvents}}
  {{/each}}
</div>

{{ui-addon/button
  buttonData
  handlePrev=question.handleEvents.handlePrev
  handleNext=question.handleEvents.handleNext
}}

