<div class="wrapper">

  {{#each question.control as |control|}}
    {{ui-control/control control question.handleEvents}}
  {{/each}}
</div>

{{ui-addon/button
  buttonData
  handlePrevClick=question.handleEvents.handlePrevClick
  handleNextClick=question.handleEvents.handleNextClick
}}

