
<section>
  <div class="wrapper">
    {{#each question.nodes as |node|}}
      {{#ui-question/lazy-loader isSingle=question.lazyLoad as |viewable|}}
        {{#if viewable}}
          {{ui-question/-node node question.handleEvents}}
        {{/if}}
        <div class="lazy-loader-wrapper"></div>
      {{/ui-question/lazy-loader}}
    {{/each}}
  </div>
</section>

{{ui-question/-node/button-cell
  prevButton=question.prevButton
  nextButton=question.nextButton
  handlePrevClick=question.handleEvents.handlePrevClick
  handleNextClick=question.handleEvents.handleNextClick
  rightIcon="arrows-tail-right"}}

{{#if question.logoText}}
  {{ui-addon/footer logoText=question.logoText}}
{{/if}}
