{{#each question.options as |option|}}
  {{component componentName option question.nodeInfo handleClick=question.handleOptionClick}}
{{/each}}

<button type="button" onclick={{action "submit"}}>下一题</button>
