
<section>
  <div class="wrapper">
    {{#each question.nodes as |node|}}
      {{#ui-question/lazy-loader class=(concat 'data-' node.quesType) isSingle=question.lazyLoad as |viewable|}}
        {{#if viewable}}
          {{ui-question/-node node question.handleEvents}}
        {{else}}
          <div class="global-loading">
            <ul class="pad">
              <li class="line"></li>
              <li class="line"></li>
              <li class="line"></li>
            </ul>
            <span>loading...</span>
          </div>
        {{/if}}
      {{/ui-question/lazy-loader}}
    {{/each}}
  </div>
</section>

{{#if (or question.prevButton question.nextButton)}}
  {{ui-question/-node/button-cell
    prevButton=question.prevButton
    nextButton=question.nextButton
    handlePrevClick=question.handleEvents.handlePrevClick
    handleNextClick=question.handleEvents.handleNextClick
    rightIcon="arrows-tail-right"
  }}
{{/if}}


{{#unless question.hideFooter}}
  {{ui-addon/footer customLogo=question.customLogo customText=question.customText}}
{{/unless}}