{{#if question.intro}}
  {{ui-question/-node/intro-cell question.intro}}
{{/if}}

<section>
  <div class="wrapper">
    {{#each question.nodes as |node|}}
      {{ui-question/-node node question.handleEvents}}
    {{/each}}
  </div>

  {{ui-addon/button
    prevButton=question.prevButton
    nextButton=question.nextButton
    handlePrevClick=question.handleEvents.handlePrevClick
    handleNextClick=question.handleEvents.handleNextClick
  }}
</section>
