.ranking-rank.complete .ranking-number,
input:checked {
  & + label {
    & .rating-emoji,
    & .svg-wrapper svg {
      animation-name: shape;
      animation-duration: .85s;
      animation-timing-function: cubic-bezier(.5, 0, 0, .8);
      animation-delay: .1s;
      animation-iteration-count: 1;

      animation-fill-mode: forwards;
    }
  }
}

@keyframes shape {
  from,
  15% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.05);
  }
  70% {
    transform: scale(.9);
    animation-timing-function: cubic-bezier(.215, .6, .355, 1);
  }
  to {
    transform: scale(1);
    animation-timing-function: cubic-bezier(.755, .05, .855, .05);
  }
}

@keyframes line {
  from {
    transform-origin: center bottom;
    transform: scaleY(0);
  }
  50% {
    animation-timing-function: cubic-bezier(0, 0.65, 0, 0.55);
    transform: scaleY(0.3);
  }
  90% {
    opacity: 1;
  }
  to {
    animation-timing-function: cubic-bezier(0, 0.65, 0, 0.55);
    transform-origin: center top;
    transform: scaleY(0);
    opacity: 0;
  }
}

.select-container {
  position: relative;
  pointer-events: none;
  & .rating-emoji,
  & svg {
    will-change: transform;
  }
}

html.mobile.portrait {
  .svg-particle {
    width: 40px;
    height: 40px;
    & svg {
      width: 40px;
      height: 40px;
    }
  }
}

.svg-particle {
  overflow: hidden;
  width: 60px;
  height: 60px;
  margin: auto 0 auto 50%;
  transform: translateX(-50%);
  background-color: fade(@contrast, 10%);

  .absolute(0, 0, 0, 0);
  & svg {
    display: block;

    fill: currentColor;
  }
}
