.cell {
  & .ui-radio,
  & .ui-checkbox {
    position: relative;
    & input[type="checkbox"],
    & input[type="radio"] {
      position: absolute;
      right: 0;
      bottom: 0;
      overflow: hidden;
      opacity: 0;
      width: 1.5rem;
      height: 1.5rem;
      margin: 0;
      border: none;
    }
    & label {
      display: block;
      padding: 1.5rem 2.5rem 1.5rem 0;
    }
    & .select-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 1.5rem;
      height: 1.5rem;
      margin: auto 0;
      & .active-line-container {
        margin-top: -150%;
        & .active-line {
          top: 1rem;
          height: 2rem;
        }
      }
    }
    & svg {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
    }
    & span {
      display: block;
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
    & + .ui-text {
      margin-top: 0;
      margin-bottom: 1.5rem;
    }
  }
  & .ui-dropdown,
  & .ui-text {
    position: relative;
    & textarea,
    & input {
      width: 100%;
      padding: 1rem;
      outline: none;
      border-width: 1px;
      border-style: solid;
      border-radius: 3px;
      resize: none;
      -webkit-appearance: none;
    }
    & input:not(.ui-menu) {
      &:invalid {
        & + svg {
          display: block;
        }
      }
      &:focus {
        & + svg {
          opacity: 0;
        }
      }
      &:valid {
        & + svg {
          display: none;
        }
      }
    }
    & svg {
      width: 1rem;
      height: 1rem;
      opacity: .2;
      margin: auto 0;
      position: absolute;
      top: 0;
      right: 1rem;
      bottom: 0;
      transition: opacity 200ms ease;
    }
  }
  & .ui-dropdown,
  & .ui-text {
    & .ui-menu {
      cursor: pointer;
      & ~ svg {
        display: block;
      }
    }
  }
  & .ui-text {
    & .ui-menu {
      border-style: dashed;
    }
  }
  & .ui-dropdown {
    & .ui-menu {
      & ~ svg {
        opacity: .8;
      }
    }
  }
  &:not(:first-child) {
    & .ui-radio,
    & .ui-checkbox {
      .border(0, 0, auto, 0, 1px, .3);
    }
  }
  &:not(:last-child) {
    & .ui-dropdown,
    & .ui-text {
      margin-bottom: 1.5rem;
    }
  }
}
