@primary: gray;

@secondary: white;
@contrast: #CA2027;
@neutrals: gray;

.pc { color: @primary;  }
.pcf80 { color: fade(@primary, 80%); }
.pcf50 { color: fade(@primary, 50%); }
.pcf30 { color: fade(@primary, 30%); }
.pcf10 { color: fade(@primary, 10%); }

.pbc { background-color: @primary;  }
.pbcf80 { background-color: fade(@primary, 80%); }
.pbcf50 { background-color: fade(@primary, 50%); }
.pbcf30 { background-color: fade(@primary, 30%); }
.pbcf10 { background-color: fade(@primary, 10%); }

.pf { fill: @primary;  }
.pff80 { fill: fade(@primary, 80%); }
.pff50 { fill: fade(@primary, 50%); }
.pff30 { fill: fade(@primary, 30%); }
.pff10 { fill: fade(@primary, 10%); }

.pb { border-color: @primary;  }
.pbf80 { border-color: fade(@primary, 80%); }
.pbf50 { border-color: fade(@primary, 50%); }
.pbf30 { border-color: fade(@primary, 30%); }
.pbf10 { border-color: fade(@primary, 10%); }

.sc { color: @secondary;  }
.scf80 { color: fade(@secondary, 80%); }
.scf50 { color: fade(@secondary, 50%); }
.scf30 { color: fade(@secondary, 30%); }
.scf10 { color: fade(@secondary, 10%); }

.sbc { background-color: @secondary;  }
.sbcf80 { background-color: fade(@secondary, 80%); }
.sbcf50 { background-color: fade(@secondary, 50%); }
.sbcf30 { background-color: fade(@secondary, 30%); }
.sbcf10 { background-color: fade(@secondary, 10%); }

.sf { fill: @secondary;  }
.sff80 { fill: fade(@secondary, 80%); }
.sff50 { fill: fade(@secondary, 50%); }
.sff30 { fill: fade(@secondary, 30%); }
.sff10 { fill: fade(@secondary, 10%); }

.sb { border-color: @secondary;  }
.sbf80 { border-color: fade(@secondary, 80%); }
.sbf50 { border-color: fade(@secondary, 50%); }
.sbf30 { border-color: fade(@secondary, 30%); }
.sbf10 { border-color: fade(@secondary, 10%); }

.cc { color: @contrast;  }
.ccf80 { color: fade(@contrast, 80%); }
.ccf50 { color: fade(@contrast, 50%); }
.ccf30 { color: fade(@contrast, 30%); }
.ccf10 { color: fade(@contrast, 10%); }

.cbc { background-color: @contrast;  }
.cbcf80 { background-color: fade(@contrast, 80%); }
.cbcf50 { background-color: fade(@contrast, 50%); }
.cbcf30 { background-color: fade(@contrast, 30%); }
.cbcf10 { background-color: fade(@contrast, 10%); }

.cf { fill: @contrast;  }
.cff80 { fill: fade(@contrast, 80%); }
.cff50 { fill: fade(@contrast, 50%); }
.cff30 { fill: fade(@contrast, 30%); }
.cff10 { fill: fade(@contrast, 10%); }

.cb { border-color: @contrast;  }
.cbf80 { border-color: fade(@contrast, 80%); }
.cbf50 { border-color: fade(@contrast, 50%); }
.cbf30 { border-color: fade(@contrast, 30%); }
.cbf10 { border-color: fade(@contrast, 10%); }


.nc { color: @neutrals;  }
.ncf80 { color: fade(@neutrals, 80%); }
.ncf50 { color: fade(@neutrals, 50%); }
.ncf30 { color: fade(@neutrals, 30%); }
.ncf10 { color: fade(@neutrals, 10%); }

.nbc { background-color: @neutrals;  }
.nbcf80 { background-color: fade(@neutrals, 80%); }
.nbcf50 { background-color: fade(@neutrals, 50%); }
.nbcf30 { background-color: fade(@neutrals, 30%); }
.nbcf10 { background-color: fade(@neutrals, 10%); }

.nf { fill: @neutrals;  }
.nff80 { fill: fade(@neutrals, 80%); }
.nff50 { fill: fade(@neutrals, 50%); }
.nff30 { fill: fade(@neutrals, 30%); }
.nff10 { fill: fade(@neutrals, 10%); }

.nb { border-color: @neutrals;  }
.nbf80 { border-color: fade(@neutrals, 80%); }
.nbf50 { border-color: fade(@neutrals, 50%); }
.nbf30 { border-color: fade(@neutrals, 30%); }
.nbf10 { border-color: fade(@neutrals, 10%); }

html.desktop {
  body {
    background-image: url("/images/sample-2-blur.jpg");
  }
  article {
    background-color: @secondary;
    box-shadow: 0 4px 4px 0 fade(@primary, 30%);
  }
  .cell {
    & .ui-radio,
    & .ui-checkbox {
      & label {
        &:before {
          background-color: @primary;
        }
      }
    }
    & input:not(.ui-menu) {
      &:hover {
        box-shadow: inset 0 0 0 3px fade(@primary, 10%);
      }
    }
    & .ui-picture-choice {
      & input:not(:checked) {
        & + label:hover {
          & .attachment:after {
            background-color: fade(@secondary, 10%);
            box-shadow: inset 0 0 0 1px @secondary, inset 0 0 0 2px @primary;
          }
        }
      }
    }
  }
}

html.tablet.portrait,
html.mobile.landscape,
html.mobile.portrait {
  body {
    background-color: fade(@primary, 10%);
  }
  .attachment.header {
    box-shadow: 0 4px 4px 0 fade(@primary, 30%);
  }
  .page-header {
    background-color: @secondary;
    box-shadow: 0 4px 4px 0 fade(@primary, 30%);
  }
  .wrapper {
    background-color: @secondary;
    box-shadow: 0 4px 4px 0 fade(@primary, 30%);
  }
  article.one-by-one {
    & .page-header {
      background-color: @secondary;
      box-shadow: 0 4px 4px 0 fade(@primary, 30%);
    }
  }
}

html.mobile.portrait {
  .submit-actions {
    & button {
      &:only-of-type,
      &:nth-of-type(2) {
        color: @secondary;
        background-color: @contrast;
        &:active {
          background-color: fade(@contrast, 80%);
        }
      }
    }
  }
  footer {
    border-color: fade(@primary, 30%);
    & svg {
      fill: @contrast;
    }
  }
}

body {
  color: @primary;
  background-color: @secondary;
}

.attachment.header {
  background-color: @secondary;
}

.page-header {
  border-color: fade(@primary, 50%);
}

.row {
  &:before {
    color: @contrast;
  }
}

textarea,
input {
  &::-webkit-input-placeholder {
    color: fade(@primary, 50%);
  }
}

input:not(.ui-menu) {
  &:focus {
    border-color: @contrast;
    box-shadow: inset 0 0 0 3px fade(@contrast, 10%);
  }
}

.picture-choice,
.choice {
  & input:checked {
    & + label {
      color: @contrast;
    }
  }
}

.ui-dropdown {
  & .ui-menu {
    box-shadow: 0 2px 0 0 fade(@primary, 50%);
  }
}

.ui-rating {
  background-color: fade(@primary, 10%);
  & input:checked {
    & + label {
      color: @contrast;
    }
  }
}

.ui-picture-choice {
  & input:checked {
    & + label {
      & .attachment:after {
        box-shadow: inset 0 0 0 1px @secondary, inset 0 0 0 3px @contrast, inset 0 0 0 5px @secondary;
      }
    }
  }
  & label {
    & .attachment:before {
      border-top: 4.5rem solid fade(@secondary, 90%);
    }
  }
  &.insert-block {
    & .pic-description {
      color: @secondary;
      background-color: fade(@primary, 50%);
    }
  }
}

.picture-choice.grid.contain {
  & .attachment {
    background-color: fade(@primary, 30%);
  }
}





//-----------------------------------------------------
html.desktop {
  .icon-button {
    &.primary:hover {
      color: @primary;
    }
    &.contrast:hover {
      color: @contrast;
    }
  }
  .button {
    &.primary:hover {

    }
    &.secondary:hover {
      color: @secondary;
      background-color: @primary;
    }
    &.contrast:hover {
      background-color: @primary;
    }
  }
}

html.tablet,
html.mobile {
  .icon-button {
    &.primary:active {
      color: @primary;
    }
    &.contrast:active {
      color: @contrast;
    }
  }
  .button {
    &.primary:active {

    }
    &.secondary:active {
      color: @secondary;
      background-color: @primary;
    }
    &.contrast:active {
      background-color: @primary;
    }
  }
}

.icon-button {
  transition: color 200ms ease;
  &.primary {
    color: fade(@primary, 50%);
  }
  &.contrast {
    color: fade(@contrast, 50%);
  }
}

.button {
  transition: background-color 200ms ease, color 200ms ease, border 200ms ease;
  &.primary {
    color: @secondary;
    background-color: @primary;
  }
  &.secondary {
    color: @primary;
    border: 1px solid @primary;
  }
  &.contrast {
    color: @secondary;
    background-color: @contrast;
  }
}


button {
  background-color: transparent;
  &:active {
    background-color: fade(@primary, 30%);
  }
}

::selection {
  color: @secondary;
  background-color: @primary;
}
