@primary: gray;

@secondary: white;
@contrast: #CA2027;
@neutrals: gray;

.primary {
  &.color {
    color: @primary;
    &.fade80 {
      color: fade(@primary, 80%);
    }
    &.fade50 {
      color: fade(@primary, 50%);
    }
    &.fade30 {
      color: fade(@primary, 30%);
    }
    &.fade10 {
      color: fade(@primary, 10%);
    }
  }
  &.background-color {
    background-color: @primary;
    &.fade80 {
      background-color: fade(@primary, 80%);
    }
    &.fade50 {
      background-color: fade(@primary, 50%);
    }
    &.fade30 {
      background-color: fade(@primary, 30%);
    }
    &.fade10 {
      background-color: fade(@primary, 10%);
    }
  }
  &.fill {
    fill: @primary;
    &.fade80 {
      fill: fade(@primary, 80%);
    }
    &.fade50 {
      fill: fade(@primary, 50%);
    }
    &.fade30 {
      fill: fade(@primary, 30%);
    }
    &.fade10 {
      fill: fade(@primary, 10%);
    }
  }
  &.border {
    border-color: @primary;
    &.fade80 {
      border-color: fade(@primary, 80%);
    }
    &.fade50 {
      border-color: fade(@primary, 50%);
    }
    &.fade30 {
      border-color: fade(@primary, 30%);
    }
    &.fade10 {
      border-color: fade(@primary, 10%);
    }
  }
}

.secondary {
  &.color {
    color: @secondary;
    &.fade80 {
      color: fade(@secondary, 80%);
    }
    &.fade50 {
      color: fade(@secondary, 50%);
    }
    &.fade30 {
      color: fade(@secondary, 30%);
    }
    &.fade10 {
      color: fade(@secondary, 10%);
    }
  }
  &.background-color {
    background-color: @secondary;
    &.fade80 {
      background-color: fade(@secondary, 80%);
    }
    &.fade50 {
      background-color: fade(@secondary, 50%);
    }
    &.fade30 {
      background-color: fade(@secondary, 30%);
    }
    &.fade10 {
      background-color: fade(@secondary, 10%);
    }
  }
  &.fill {
    fill: @secondary;
    &.fade80 {
      fill: fade(@secondary, 80%);
    }
    &.fade50 {
      fill: fade(@secondary, 50%);
    }
    &.fade30 {
      fill: fade(@secondary, 30%);
    }
    &.fade10 {
      fill: fade(@secondary, 10%);
    }
  }
  &.border {
    border-color: @secondary;
    &.fade80 {
      border-color: fade(@secondary, 80%);
    }
    &.fade50 {
      border-color: fade(@secondary, 50%);
    }
    &.fade30 {
      border-color: fade(@secondary, 30%);
    }
    &.fade10 {
      border-color: fade(@secondary, 10%);
    }
  }
}

.contrast {
  &.color {
    color: @contrast;
    &.fade80 {
      color: fade(@contrast, 80%);
    }
    &.fade50 {
      color: fade(@contrast, 50%);
    }
    &.fade30 {
      color: fade(@contrast, 30%);
    }
    &.fade10 {
      color: fade(@contrast, 10%);
    }
  }
  &.background-color {
    background-color: @contrast;
    &.fade80 {
      background-color: fade(@contrast, 80%);
    }
    &.fade50 {
      background-color: fade(@contrast, 50%);
    }
    &.fade30 {
      background-color: fade(@contrast, 30%);
    }
    &.fade10 {
      background-color: fade(@contrast, 10%);
    }
  }
  &.fill {
    fill: @contrast;
    &.fade80 {
      fill: fade(@contrast, 80%);
    }
    &.fade50 {
      fill: fade(@contrast, 50%);
    }
    &.fade30 {
      fill: fade(@contrast, 30%);
    }
    &.fade10 {
      fill: fade(@contrast, 10%);
    }
  }
  &.border {
    border-color: @contrast;
    &.fade80 {
      border-color: fade(@contrast, 80%);
    }
    &.fade50 {
      border-color: fade(@contrast, 50%);
    }
    &.fade30 {
      border-color: fade(@contrast, 30%);
    }
    &.fade10 {
      border-color: fade(@contrast, 10%);
    }
  }
}

.neutrals {
  &.color {
    color: @neutrals;
    &.fade80 {
      color: fade(@neutrals, 80%);
    }
    &.fade50 {
      color: fade(@neutrals, 50%);
    }
    &.fade30 {
      color: fade(@neutrals, 30%);
    }
    &.fade10 {
      color: fade(@neutrals, 10%);
    }
  }
  &.background-color {
    background-color: @neutrals;
    &.fade80 {
      background-color: fade(@neutrals, 80%);
    }
    &.fade50 {
      background-color: fade(@neutrals, 50%);
    }
    &.fade30 {
      background-color: fade(@neutrals, 30%);
    }
    &.fade10 {
      background-color: fade(@neutrals, 10%);
    }
  }
  &.fill {
    fill: @neutrals;
    &.fade80 {
      fill: fade(@neutrals, 80%);
    }
    &.fade50 {
      fill: fade(@neutrals, 50%);
    }
    &.fade30 {
      fill: fade(@neutrals, 30%);
    }
    &.fade10 {
      fill: fade(@neutrals, 10%);
    }
  }
  &.border {
    border-color: @neutrals;
    &.fade80 {
      border-color: fade(@neutrals, 80%);
    }
    &.fade50 {
      border-color: fade(@neutrals, 50%);
    }
    &.fade30 {
      border-color: fade(@neutrals, 30%);
    }
    &.fade10 {
      border-color: fade(@neutrals, 10%);
    }
  }
}


html.desktop {
  body {
    background-image: url("/images/sample-2-blur.jpg");
  }
  article {
    background-color: @secondary;
    box-shadow: 0 4px 4px 0 fade(@primary, 30%);
  }
  .cell {
    & .ui-radio,
    & .ui-checkbox {
      & label {
        &:before {
          background-color: @primary;
        }
      }
    }
    & input:not(.ui-menu) {
      &:hover {
        box-shadow: inset 0 0 0 3px fade(@primary, 10%);
      }
    }
    & .ui-picture-choice {
      & input:not(:checked) {
        & + label:hover {
          & .attachment:after {
            background-color: fade(@secondary, 10%);
            box-shadow: inset 0 0 0 1px @secondary, inset 0 0 0 2px @primary;
          }
        }
      }
    }
  }
}

html.tablet.portrait,
html.mobile.landscape,
html.mobile.portrait {
  body {
    background-color: fade(@primary, 10%);
  }
  .attachment.header {
    box-shadow: 0 4px 4px 0 fade(@primary, 30%);
  }
  .page-header {
    background-color: @secondary;
    box-shadow: 0 4px 4px 0 fade(@primary, 30%);
  }
  .wrapper {
    background-color: @secondary;
    box-shadow: 0 4px 4px 0 fade(@primary, 30%);
  }
  article.one-by-one {
    & .page-header {
      background-color: @secondary;
      box-shadow: 0 4px 4px 0 fade(@primary, 30%);
    }
  }
}

html.mobile.portrait {
  .submit-actions {
    & button {
      &:only-of-type,
      &:nth-of-type(2) {
        color: @secondary;
        background-color: @contrast;
        &:active {
          background-color: fade(@contrast, 80%);
        }
      }
    }
  }
  footer {
    border-color: fade(@primary, 30%);
    & svg {
      fill: @contrast;
    }
  }
}

body {
  color: @primary;
  background-color: @secondary;
}

.attachment.header {
  background-color: @secondary;
}

.page-header {
  border-color: fade(@primary, 50%);
}

.row {
  &:before {
    color: @contrast;
  }
}

textarea,
input {
  &::-webkit-input-placeholder {
    color: fade(@primary, 50%);
  }
}

input:not(.ui-menu) {
  &:focus {
    border-color: @contrast;
    box-shadow: inset 0 0 0 3px fade(@contrast, 10%);
  }
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  & + label {
    color: @contrast;
  }
}

.ui-dropdown {
  & .ui-menu {
    box-shadow: 0 2px 0 0 fade(@primary, 50%);
  }
}

.ui-rating {
  background-color: fade(@primary, 10%);
  & input:checked {
    & + label {
      color: @contrast;
    }
  }
}

.ui-picture-choice {
  & input:checked {
    & + label {
      & .attachment:after {
        box-shadow: inset 0 0 0 2px @contrast, inset 0 0 0 4px @secondary;
      }
    }
  }
  & label {
    & .attachment:before {
      border-top: 4.5rem solid fade(@secondary, 90%);
    }
  }
  &.insert-block {
    & .pic-description {
      color: @secondary;
      background-color: fade(@primary, 50%);
    }
  }
}

.picture-choice.grid.contain {
  & .attachment {
    background-color: fade(@primary, 30%);
  }
}

.ui-location {
  & label {
    color: @secondary;
    background-color: @contrast;
  }
  & .pin {
    &.positioning {
      & label {
        background-color: @secondary;
        & svg {
          fill: @contrast;
        }
      }
    }
    &.successful {
      & label {
        background-color: @contrast;
        & svg {
          fill: @secondary;
        }
      }
    }
    &.failed {
      & label {
        background-color: @secondary;
        & svg {
          fill: @primary;
        }
      }
    }
  }
}

.file-upload {
  & .cell {
    & .ui-file-upload {
      border: 1px solid fade(@primary, 50%);
      & .upload-item {
        & > svg {
          fill: fade(@primary, 50%);
        }
        & label {

        }
        &.success {
          & label {

          }
          & a.clear {

          }
        }
      }
    }
  }
}

html.desktop {
  .icon-button {
    &.primary:hover {
      color: @primary;
    }
    &.contrast:hover {
      color: @contrast;
    }
  }
  .button {
    &.primary:hover {

    }
    &.secondary:hover {
      color: @secondary;
      background-color: @primary;
    }
    &.contrast:hover {
      background-color: @primary;
    }
  }
}

html.tablet,
html.mobile {
  .icon-button {
    &.primary:active {
      color: @primary;
    }
    &.contrast:active {
      color: @contrast;
    }
  }
  .button {
    &.primary:active {

    }
    &.secondary:active {
      color: @secondary;
      background-color: @primary;
    }
    &.contrast:active {
      background-color: @primary;
    }
  }
}

.icon-button {
  transition: color 200ms ease;
  &.primary {
    color: fade(@primary, 50%);
  }
  &.contrast {
    color: fade(@contrast, 50%);
  }
}

.button {
  transition: background-color 200ms ease, color 200ms ease, border 200ms ease;
  &.primary {
    color: @secondary;
    background-color: @primary;
  }
  &.secondary {
    color: @primary;
    border: 1px solid @primary;
  }
  &.contrast {
    color: @secondary;
    background-color: @contrast;
  }
}


button {
  background-color: transparent;
  &:active {
    background-color: fade(@primary, 30%);
  }
}

::selection {
  color: @secondary;
  background-color: @primary;
}
