.height-fix() {
  &:after {
    display: table;
    clear: both;
    content: ' ';
  }
}

.border(@top, @right, @bottom, @left, @height, @opacity) {
  &:before {
    content: '';
    position: absolute;
    top: @top;
    bottom: @bottom;
    left: @left;
    right: @right;
    height: @height;
    opacity: @opacity;
    background-color: currentColor;
  }
}

.button {
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 3px;
  text-align: center;
  & span,
  & svg {
    display: inline-block;
    vertical-align: middle;
  }
}

button {
  font-size: 1rem;
  overflow: hidden;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1rem;
  outline: 0;
  user-select: none;
  outline-style: none;
}
