.question-header {
  & + .control.file-upload {
    &:before {
      right: 1.725rem;
      left: 1.725rem;
    }
  }
}

.file-upload {
  display: flex;
  flex-direction: row;
  margin: 0 -.725rem;

  flex-wrap: wrap;
  justify-content: center;
  & .cell {
    display: flex;
    padding: 2rem .725rem 0 .725rem;

    flex-basis: 33.333%;
    @media (max-width: 767px) {
      flex-basis: 50%;
    }
    @media (max-width: 476px) {
      width: 100%;

      flex-basis: auto;
    }
    & .ui-file-upload {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: .5rem;
      transition: border 200ms ease;
      text-align: center;
      border-width: 1px;
      border-style: solid;
      border-radius: 3px;
      & .upload-item {
        position: relative;
        display: flex;
        flex-direction: column;
        & input[type='file'] {
          .absolute(auto, 0, 0, 0);
          .input(100%, 2.6rem);
        }
        & > svg {
          display: inline-block;
          margin: 1rem 0;
          pointer-events: none;

          align-self: center;
        }
        & .upload-thumbnail {
          position: relative;
          & .progress-bar {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 2px;
            & .progress {
              height: 2px;
            }
          }
          & img {
            margin-bottom: .5rem;
          }
        }
        & + span {
          font-size: small;
          line-height: normal;
          display: block;
          margin-bottom: -.5rem;
          padding: .5rem;
          text-align: left;
        }
        &.success {
          flex-grow: 1;
          & label {
            margin-top: auto;
          }
          & a.clear {
            width: 3rem;
            margin-bottom: .5rem;
            cursor: pointer;

            align-self: center;
            & svg {
              display: inline-block;
              vertical-align: middle;
            }
            & span {
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}

html.desktop {
  & .file-upload {
    & input[type='file'] {
      pointer-events: none;
    }
  }
}

html.mobile {
  & .file-upload {
    flex-direction: column;
    & .cell {
      & label {
        padding: 1rem .5rem;
      }
    }
  }
}
