.question-header {
  & + .control.icon {
    padding-top: 2rem;
  }
}

.icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  & .cell {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    @media (max-width: 767px) {
      flex-basis: 33.3%;
    }
    & .ui-icon-list {
      position: relative;
      display: flex;
      flex-direction: column;
      align-self: center;
      flex-grow: 2;
      & input {
        position: absolute;
        right: 0;
        bottom: 0;
        overflow: hidden;
        opacity: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        border: none;
        &:checked {
          & + label {
            color: @contrast;
            transition: color 200ms ease;
            & .svg-wrapper {
              & svg {
                & path {
                  fill: @contrast;
                }
              }
            }
          }
        }
      }
      & label {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        padding: 1rem;
        & .select-container {
          align-self: center;
          margin-bottom: .5rem;
          & .svg-wrapper {
            position: relative;
            width: 64px;
            height: 64px;
            & svg {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              top: 0;
              margin: auto;
              & path {
                fill: @primary;

              }
            }
          }
          & .active-line-container {
            margin-top: 0;
          }
        }
        & .labels {
          padding-top: .5rem;
          text-align: center;
          & svg {
            display: inline-block;
          }
          & span {
            display: block;
            font-size: smaller;
          }
        }
      }
    }
  }
}

html.desktop {
  & .ui-icon-list {
    & input:checked {
      & + label {
        & .svg-wrapper {
          & svg {
            opacity: 1;
          }
        }
      }
    }
    & label {
      & .svg-wrapper {
        & svg {
          opacity: .8;
          transition: opacity 200ms ease;
        }
      }
      &:hover {
        & .svg-wrapper {
          & svg {
            opacity: 1;
          }
        }
      }
    }
  }
}
