.question-header {
  & + .control.icon {
    padding-top: 2rem;
  }
}

.icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  & .cell {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    @media (max-width: 767px) {
      flex-basis: 33.3%;
    }
    & .ui-icon-list {
      position: relative;
      display: flex;
      flex-direction: column;
      align-self: center;
      flex-grow: 2;
      & input {
        position: absolute;
        right: 0;
        bottom: 0;
        overflow: hidden;
        opacity: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        border: none;
        &:checked {
          & + label {
            color: @contrast;
            transition: color 200ms ease;
            & .svg-wrapper {
              & svg {
                & path {
                  fill: @contrast;
                }
              }
            }
          }
        }
      }
      & label {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        padding: 1rem;
        & .select-container {
          align-self: center;
          margin-bottom: .5rem;
          & .svg-wrapper {
            position: relative;
            width: 64px;
            height: 64px;
            & svg {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              top: 0;
              margin: auto;
              & path {
                fill: @primary;

              }
            }
          }
          & .active-line-container {
            margin-top: 0;
          }
        }

        & span {
          font-size: smaller;
          margin-top: auto;
        }
      }
    }
  }
}
