

.row {
  &:before {
    height: 2px;
  }
}

.attachment.header {
  padding: 0;
}





.control {
  .height-fix();
  & > div:not(:first-child) {
    margin-top: 0;
  }
}

.question-header {
  & + .control {
    padding-top: 0;
  }
}

html.desktop {
  & body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  & article {
    min-width: 480px;
  }
}

html.desktop,
html.tablet.landscape {
  article.one-by-one {
    & .page-header {
      border: none;
    }
  }
  section {
    & > div:only-child {
      .border(0, 1rem, auto, 1rem, 1px, 1);
    }
  }
}

html.desktop,
html.tablet,
html.mobile.landscape {
  & section {
    & > div:only-child {
      position: relative;
      text-align: center;
      & > button:only-child {
        float: none;
        width: 10rem;
      }
    }
  }
}

html.tablet.portrait {
  & article {
    max-width: 70vw;
  }
}

html.mobile.portrait,
html.mobile.landscape,
html.tablet.portrait {
  & article.one-by-one {
    & .attachment {
      padding: 0;
    }
  }
  & .page-header {
    & h2 {
      text-align: center;
    }
  }
}

html.tablet.portrait,
html.mobile.landscape {
  & article {
    max-width: 70vw;
  }
  & .row:last-child {
    &:before {
      display: none;
    }
  }
}

html.mobile.portrait {
  font-size: 14px;
  & article {
    margin-bottom: -8rem;
    padding: 0;
    padding-bottom: 8rem;
  }
  & .page-header {
    padding: 1.5rem;
  }

  & .wrapper {
    overflow: hidden;
    padding: .5rem;
  }
  & .row:last-child {
    padding-bottom: 1rem;
    &:before {
      display: none;
    }
  }
  & footer {
    height: 8rem;
    margin: 0 1.5rem;
    padding-top: 2rem;
    border-top-width: 1px;
    border-top-style: solid;
    & svg:not(:root) {
      height: 1rem;
    }
    & span {
      font-size: x-small;
    }
  }
}
