.picture-choice {
  display: flex;
  &:before {
    display: none;
  }
  & .cell {
    & .ui-picture-choice {
      position: relative;
      flex-grow: 1;
      & input[type="checkbox"],
      & input[type="radio"] {
        position: absolute;
        right: .5rem;
        top: .5rem;
        overflow: hidden;
        opacity: 0;
        width: 1.5rem;
        height: 1.5rem;
        margin: 0;
        border: none;
      }
      & label {
        cursor: pointer;
        display: block;
        will-change: box-shadow;
        & .attachment {
          user-select: none;
          padding: 0;
          margin-bottom: 1rem;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 2;
            transition: box-shadow 200ms ease, background-color 200ms ease;
          }
        }
        & .pic-description {
          position: relative;
          & .select-container {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            & .active-line-container {
              margin-top: -250%;
            }
            & .active-line {
              top: 2rem;
              height: 1rem;
            }
            & svg {
              display: block;
              width: 1rem;
              height: 1rem;
            }
          }
          & span {
            display: inline;
            vertical-align: middle;
          }
        }
      }
      &.insert-block {
        & .attachment {
          margin-bottom: 0;
        }
        & .pic-description {
          padding: .5rem 1rem;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          font-size: smaller;
        }
      }
    }
  }
}

.picture-choice.superscript {
  & .cell {
    & .ui-picture-choice {
      & input[type="checkbox"],
      & input[type="radio"] {
        position: absolute;
        right: .5rem;
        top: .5rem;
        overflow: hidden;
        opacity: 0;
        width: 1.5rem;
        height: 1.5rem;
        margin: 0;
        border: none;
      }
      & label {
        & .attachment {
          &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            border-left: 4.5rem solid transparent;
            z-index: 1;
          }
        }
        & .pic-description {
          position: static;
          & .select-container {
            position: absolute;
            right: .5rem;
            top: .5rem;
            width: 1.5rem;
            height: 1.5rem;
            z-index: 2;
            & .active-line-container {
              margin-top: -150%;
            }
            & .active-line {
              top: 1rem;
              height: 2rem;
            }
            & svg {
              display: block;
              width: 1.5rem;
              height: 1.5rem;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

.picture-choice.vertical {
  flex-direction: column;
  & .cell {
    &:not(:last-child) {
      .ui-picture-choice {
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
        .border(auto, 0, 0, 0, 1px, .3);
      }
    }
  }
}

.picture-choice.grid {
  flex-direction: row;
  flex-wrap: wrap;
  & .cell {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    &:not(:nth-last-child(-n+2)) {
      .ui-picture-choice {
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
        .border(auto, 0, 0, 0, 1px, .3);
      }
    }
  }
}

.picture-choice.grid.cover {
  & .attachment {
    position: relative;
    width: 100%;
    padding-bottom: 100% !important;
    & img {
      position: absolute;
      height: 100%;
      object-fit: cover;
    }
  }
}

.picture-choice.grid.contain {
  & .attachment {
    position: relative;
    width: 100%;
    padding-bottom: 100% !important;
    & img {
      position: absolute;
      height: 100%;
      object-fit: contain;
    }
  }
}

.picture-choice.matrix {
  flex-direction: row;
  flex-wrap: wrap;
  & .cell {
    flex-basis: 33.333%;
    & label {
      & .attachment {
        position: relative;
        width: 100%;
        padding-bottom: 100% !important;
        & img {
          position: absolute;
          height: 100%;
          object-fit: cover;
        }
      }
      & .pic-description {
        text-align: center;
      }
    }
    &:not(:nth-last-child(-n+3)) {
      .ui-picture-choice {
        margin-bottom: 1rem;
      }
    }
    & .ui-picture-choice {
      &.insert-block {
        margin-bottom: 0;
      }
    }
  }
}

.picture-choice.pinterest {
  padding: 0;
  & .cell {
    & .ui-picture-choice {
      padding: .5rem;
    }
    @media (max-width: 991px) {
      width: 33.3%;
      &:not(:nth-last-child(3)) {
        & .ui-picture-choice:not(.insert-block) {
          margin-bottom: 1rem;
        }
      }
    }
    @media (max-width: 767px) {
      width: 50%;
      &:not(:nth-last-child(2)) {
        & .ui-picture-choice:not(.insert-block) {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

html.desktop,
html.tablet,
html.mobile.landscape {
  & .picture-choice.grid {
    & .cell {
      &:nth-child(odd) {
        padding-right: .75rem;
      }
      &:nth-child(even) {
        padding-left: .75rem;
      }
    }
  }
  .picture-choice.pinterest {
    margin: .5rem .5rem 0 .5rem;
  }
}

html.mobile.portrait {
  & .picture-choice.grid {
    margin: 1rem -1rem 0 -1rem;
    & .cell {
      &:nth-child(odd) {
        padding-right: .25rem;
      }
      &:nth-child(even) {
        padding-left: .25rem;
      }
    }
  }
  .picture-choice.matrix {
    margin: 1rem -1rem 0 -1rem;
  }
}
