.question-header {
  & + .control.region {
    padding-top: 2rem;
  }
}

.region {
  & .cell {
    & .ui-region {
      & svg {
        display: block;
      }
      & .region-pin-icon {
        opacity: .5;
        margin: 0 auto 2rem auto;
      }
    }
  }
}
