.submit-actions {
  & button {
    min-width: 10rem;
  }
  & .nextButton {
    & span {
      & + svg {
        margin: 0 -1rem 0 .5rem;
      }
    }
  }
}

html.desktop {
  & .reward-container {
    & + .submit-actions {
      text-align: center;
      & button {
        float: none;
        display: inline-block;
      }
    }
  }
}

html.tablet.portrait,
html.mobile.landscape {
  & .submit-actions {

  }
}

html.mobile.portrait {
  & .submit-actions {
    padding: 2rem 1.5rem;
    margin: 2rem 0;
    & button {
      font-size: 1.2rem;
      padding: 1.5rem 2rem;
      &:only-of-type {
        float: none;
        width: 100%;
      }
      &:nth-of-type(2) {
        width: 50%;
      }
    }
  }
}
