.submit-actions {
  & button {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    padding: 1rem 2rem;
    color: currentColor;
    border: 1px solid currentColor;
    border-radius: 3px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1rem;
    outline: 0;
    user-select: none;
    outline-style: none;
  }
}
