.weight {
  & .cell {
    & .ui-weight {
      & .weight-header {
        & .weight-chart {
          display: flex;
          & div {
            height: 1rem;
            transition: flex-basis 200ms ease;
          }
        }
      }
    }
  }
}
