<div class="w-container">
  {{ui-option-cell
    name="Sample"
    label="Sample Label Text"
    img="/images/test-pictures/test-pic-8.jpg"
  }}
  {{ui-option-cell
    name="Sample"
    label="Sample Label Text"
    img="/images/test-pictures/test-pic-4.jpg"
  }}
</div>
