<div class="w-container">
  {{ui-option-cell
    selected='1'
    type='checkbox'
    name="Sample"
    label="Sample Label Text"
    img="/images/test-pictures/test-pic-8.jpg"
  }}

  {{ui-option-cell
    type='radio'
    name="Sample"
    label="Sample Label Text"
    img="/images/test-pictures/test-pic-4.jpg"
  }}
</div>
