<div class='ui-ranking' data-render-id={{option.renderId}}>
  {{#ui-question/-node/label option classname="janise" as |a| }}
    {{a}}
    <span>{{option.sort}}</span>
  {{/ui-question/-node/label}}
</div>
