<div class={{concat "ui-ranking" (if option.isSort ' sort')}} data-render-id={{option.renderId}}>
  <span>{{option.sort}}</span>
  {{ui-addon/label
    uuid=option.uuid
    text=option.text
    rightIcon="ui-addon/svg-item" icon=option.icon
  }}
</div>


