{{#each node.options as |option|}}
  <div class={{concat 'ranking-rank' (if option.sortNo ' complete')}}>
    <div class="ranking-number"></div>
    {{ui-addon/label
      uuid=option.uuid
      text=option.text
      svgIcon=option.icon
    }}
  </div>
{{/each}}