{{#each options as |option index|}}
  <div class="ranking-rank" data-render-id={{option.renderId}}>
    <div class="ranking-number">{{option.sortNo}}</div>
    {{ui-component/ui-label text=option.text
                            icon=option.icon
                            pointerActive=true
    }}
  </div>
{{/each}}