{{#each options selecteds as |option selected|}}
  <div class="ranking-rank" data-render-id={{option.renderId}} ontouchmove={{action 'testMove'}}>
    <div class="ranking-number">{{option.sortNo}}</div>
    {{ui-component/ui-label text=option.text
                            icon=option.icon
    }}
    <div class="handle"></div>
  </div>
{{/each}}
