<div class="ranking-wrapper">
  {{#each options as |option|}}
    {{#unless option.inputType }}
      <div class="ranking-rank" data-render-id={{option.renderId}}>
        <div class="ranking-number">{{option.sortNo}}</div>
        {{ui-component/ui-label
          text=option.text
          icon=option.icon}}
        <div class="handle"></div>
      </div>
    {{/unless}}
  {{/each}}
</div>

{{#each options as |option|}}
  {{#if option.inputType}}
    {{ui-question/choice node option handleEvents}}
  {{/if}}
{{/each}}

