<ul class="ranking-wrapper">
  {{#each options as |option|}}
    {{#unless option.inputType }}
      <li class="ranking-rank" data-render-id={{option.renderId}}>
        <div class="ranking-container">
          <div class="ranking-number">{{option.sortNo}}</div>
          {{ui-component/ui-label
            text=option.text
            icon=option.icon}}
        </div>
      </li>
    {{/unless}}
  {{/each}}
</ul>

{{#each options as |option|}}
  {{#if option.inputType}}
    {{ui-question/choice node option handleEvents}}
  {{/if}}
{{/each}}

