{{#each node.options as |option|}}
  <div class={{concat 'ranking-rank' (if option.sortNo ' complete')}}>
    <span>{{option.sortNo}}</span>
    {{ui-addon/label
      uuid=option.uuid
      text=option.text
      rightIcon=option.icon
    }}
  </div>
{{/each}}