<div class='ui-ranking' data-render-id={{option.renderId}}>
  {{#ui-question/-node/label option}}
    <span data-color={{if selected "color7" "color6"}}>{{option.sort}}</span>
  {{/ui-question/-node/label}}
</div>
