<div class='ui-ranking' data-render-id={{option.renderId}}>
  <span>{{option.sort}}</span>
  {{ui-question/-node/label
    uuid=option.uuid
    text=option.text
    rightIcon="ui-addon/svg-item" icon=option.icon
  }}
</div>


