.picture-layout.full {
  & + .thumb-wrapper {
    & .thumb {
      margin: @offset/1.25 0 0 0;
    }
  }
}

/*------------------- fix -------------------*/

.picture-full-fix() {
  .picture-layout.full {
    & .ui-picture {
      margin-bottom: @offset/1.25;
      padding-bottom: @offset/1.25;

      .border(auto, 0, 0, 0, 1px, .3);
    }
  }
}

html.ie, html[class*="safari -8"] {
  .picture-full-fix();
}

@supports not(display: flex) {
  .picture-full-fix();
}

/*------------------- supports -------------------*/

.picture-full-supports() {
  .picture-layout.full {
    flex-direction: column;
    & .ui-picture {
      &:not(:last-of-type) {
        margin-bottom: @offset/1.25;
        padding-bottom: @offset/1.25;

        .border(auto, 0, 0, 0, 1px, .3);
      }
    }
  }
}

html.internet,
html.edge {
  .picture-full-supports();
}

@supports (display: flex) {
  .picture-full-supports();
}

/*------------------- responsive -------------------*/

html.mobile {
  & .picture-layout.full {
    padding: 0 @offset/4;
  }
}
