.picture-layout.pinterest {
  padding: 0;
  margin: @offset/ -4;
  & .ui-picture {
    width: calc(~'33.3% - 1rem');
    margin: @offset/4;
    &:not(:nth-last-child(3)) {
      & .ui-picture:not(.insert-block) {
        margin-bottom: @offset/2;
      }
    }
    @media (max-width: 767px) {
      width: calc(~'50% - 1rem');
      &:not(:nth-last-child(2)) {
        & .ui-picture:not(.insert-block) {
          margin-bottom: @offset/2;
        }
      }
    }
  }
  &.superscript {
    & .ui-picture {
      & input {
        top: @offset/2;
        right: @offset/2;
      }
    }
  }
}

/*------------------- responsive -------------------*/

html.mobile {
  & .picture-layout.pinterest {
    margin: 0 -@offset/8;
    & .ui-picture {
      & label {
        & .attachment {
          margin-bottom: @offset/4;
        }
      }
    }
  }
}
