.picture-layout.thumbnail {
  &.superscript {
    & .ui-picture {
      & input {
        top: @offset/4;
        right: 60%;
        left: auto;
        margin-right: @offset/4;
      }
      & label {
        & .pic-description {
          & .effect-container {
            right: 60%;
            margin-right: @offset/4;
          }
        }
      }
    }
    &.pic-s {
      & input {
        right: 75%;
      }
      & label {
        & .pic-description {
          & .effect-container {
            right: 75%;
          }
        }
      }
    }
  }
  & .ui-picture {
    & label {
      & .attachment {
        width: 40%;
        margin-bottom: 0;
      }
      & .pic-description {
        margin-left: @offset/1.25;
      }
    }
  }
  &:not(.superscript) {
    & .ui-picture {
      &.pic-s {
        & input {
          width: 25%;
        }
      }
    }
  }
  &.pic-s {
    & .ui-picture {
      & label {
        & .attachment {
          width: 25%;
        }
      }
    }
  }
}

/*------------------- fix -------------------*/

.picture-thumbnail-fix() {
  .picture-layout.thumbnail {
    & .ui-picture {
      margin-bottom: @offset/1.25;
      padding-bottom: @offset/1.25;

      .border(auto, 0, 0, 0, 1px, .3);
      & label {
        & .attachment {
          display: inline-block;
        }
        & .pic-description {
          width: 50%;
          display: inline-block;
          vertical-align: top;
        }
      }
    }
    &.pic-s {
      & .ui-picture {
        & label {
          & .pic-description {
            width: 70%;
          }
        }
      }
    }
  }
}

html.ie {
  .picture-thumbnail-fix();
}

@supports not(display: flex) {
  .picture-thumbnail-fix();
}

/*------------------- supports -------------------*/

.picture-thumbnail-supports() {
  .picture-layout.thumbnail {
    flex-direction: column;
    & .ui-picture {
      & label {
        display: flex;
        & .attachment {
          align-self: flex-start;
          flex-shrink: 0;
        }
      }
      &:not(:last-of-type) {
        margin-bottom: @offset/1.25;
        padding-bottom: @offset/1.25;

        .border(auto, 0, 0, 0, 1px, .3);
      }
    }
  }
}

html.internet,
html.edge {
  .picture-thumbnail-supports();
}

@supports (display: flex) {
  .picture-thumbnail-supports();
}
