@import "full";
@import "grid";
@import "matrix";
@import "thumbnail";
@import "pinterest";

.picture-choice {
  padding: @offset @offset/2 @offset/2 @offset/2;
  backface-visibility: hidden;
  &:before {
    display: none;
  }
}

.picture-layout {
  &.insert-block {
    & .attachment {
      margin-bottom: 0;
    }
    & .pic-description {
      font-size: smaller;
      padding: @offset/4 @offset/2;

      .absolute(auto, 0, 0, 0);
    }
    &.insert-block {
      &:not(.superscript) {
        & .ui-picture {
          & input {
            &:checked {
              & + label {
                & .pic-description {
                  margin-bottom: 4px;
                }
              }
            }
          }
        }
      }
      &.superscript {
        & .ui-picture {
          & input {
            &:checked {
              & + label {
                & .pic-description {
                  & span {
                    margin-bottom: 4px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &.superscript {
    & .ui-picture {
      & label {
        & .attachment {
          &:before {
            z-index: 1;
            content: '';
            border-left: @offset*2.25 solid transparent;

            .absolute(0, -1px, auto, auto);
          }
        }
        & .pic-description {
          position: static;
          & .effect-container {
            z-index: 2;
            width: @offset/1.25;
            height: @offset/1.25;

            .absolute(@offset/4, @offset/4, auto, auto);
            & .svg-wrapper {
              & svg {
                display: block;
                width: @offset/1.25;
                height: @offset/1.25;
                margin: 0;
              }
            }
          }
        }
      }
    }
    &.insert-block {
      & .pic-description {
        padding: 0;
        & > span {
          padding: @offset/4 @offset/2;

          .absolute(auto, 0, 0, 0);
        }
      }
    }
  }
  & + .ui-text-liquid,
  & + .ui-text,
  & + .ui-choice {
    margin-top:  @offset/1.25;
  }
}

.ui-picture {
  position: relative;
  backface-visibility: hidden;
  & input {
    margin: 0;

    .absolute(0, auto, auto, 0);
    .input(@offset/1.25, @offset/1.25);
  }
  & label {
    display: block;
    cursor: pointer;

    will-change: box-shadow;
    & .attachment {
      position: relative;
      margin-bottom: @offset/2;
      padding: 0;
      user-select: none;
      &:after {
        z-index: 2;
        content: '';
        transition: box-shadow 200ms ease, background-color 200ms ease;

        .absolute(0, 0, 0, 0);
      }
    }
    & .pic-description {
      position: relative;
      transition: margin 200ms ease;
      & .effect-container {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        & .svg-wrapper {
          & svg {
            display: block;
            width: @offset/2;
            height: @offset/2;
          }
        }
      }
      & span {
        display: inline;
        vertical-align: middle;
        transition: margin 200ms ease;
      }
    }
  }
}

.thumb-wrapper {
  width: 100%;
  & .thumb {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-top: @offset/2;
    margin: @offset/1.25 -@offset/4 -@offset/4 -@offset/4;
    .border(0, @offset/4, auto, @offset/4, 2px, .3);
    & .thumb-item {
      display: inline-block;
      vertical-align: middle;
      & a {
        position: relative;
        display: block;
        cursor: pointer;
        margin: @offset/4;
        width: @offset*1.5;
        height: @offset*1.5;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        &:after {
          z-index: 2;
          content: '';
          transition: box-shadow 200ms ease, background-color 200ms ease;

          .absolute(0, 0, 0, 0);
        }
      }
    }
  }
  & + .ui-text-liquid,
  & + .ui-text,
  & + .ui-choice {
    margin-top:  @offset/1.25;
  }
}

.zoom-button {
  padding: @offset / 2;
  position: absolute;
  top: 0;
  opacity: 1;
  z-index: 2;
  cursor: zoom-in;
  backface-visibility: hidden;
  transition-delay: 200ms;
  transition: transform 400ms ease, opacity 400ms ease;
  &:before {
    content: '';
    position: absolute;
    top: @offset / 6;
    left: @offset / 6;
    bottom: @offset / 6;
    right: @offset / 6;
    border-radius: 3px;
    z-index: -1;
  }
  & svg {
    display: block;
  }
}

.pswp {
  &.pswp--open {
    & + div {
      & .zoom-button {
        opacity: 0;
      }
    }
  }
}

/*------------------- fix -------------------*/

.picture-fix() {
  .picture-layout {
    display: block;
  }
}

html.ie {
  .picture-fix();
}

@supports not(display: flex) {
.picture-fix();
}

/*------------------- supports -------------------*/

.picture-supports() {
  .picture-layout {
    display: flex;
  }
}

html.edge,
html.internet {
  .picture-supports();
}

@supports (display: flex) {
.picture-supports();
}

/*------------------- responsive -------------------*/

html.mobile {
  & .picture-choice {
    padding: 0 @offset/4 @offset/2 @offset/4;
  }
}
