{{#if leftIcon}}
  {{svg-item leftIcon size=size viewBox=viewBox}}
{{/if}}

{{yield}}

<div class="ui-loader onclick">
  <svg x="0" y="0" viewBox="0 0 36 36">
    <circle cx="18" cy="18" r="16"/>
  </svg>
</div>


{{#if text}}
  <span>{{text}}</span>
{{/if}}

{{#if rightIcon}}
  {{svg-item rightIcon size=size viewBox=viewBox}}
{{/if}}
