{{#if leftIcon}}
  {{svg-item leftIcon size=size viewBox=viewBox}}
{{/if}}

{{yield}}

{{#if text}}
  <span>{{text}}</span>
{{/if}}

{{#if rightIcon}}
  {{svg-item rightIcon size=size viewBox=viewBox}}
{{/if}}
