article {
  overflow: hidden;
}

.c-container {
  margin: 0 auto;
}

section {
  min-height: 100vh;
}

.wrapper {
  counter-reset: section;
}

.row {
  position: relative;
}

.attachment {
  padding: 1rem;
}

.header {
  position: relative;
  padding: 4rem 1rem;
  & h2 {
    margin-bottom: 1rem;
    word-wrap: break-word;
  }
}

.control {
  position: relative;
  padding: 0 1rem;
  margin: 1rem;
  border-radius: .5rem;
  box-shadow: 0 0 6px 2px currentColor;

  .height-fix();
  & label {
    position: relative;
  }
}

sup {
  display: inline-block;
  padding: 1rem;
  vertical-align: bottom;
  & > span {
    margin-right: .5rem;
    padding: 0 .5rem;
    border-radius: @radius-s;
  }
}

/*------------------- responsive -------------------*/

html.desktop {
  & body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  & .c-container {
    min-width: 480px;
  }
}

html.mobile.portrait,
html.mobile.landscape,
html.tablet.portrait {

}

html.tablet.portrait {
  & article {
    max-width: 70vw;
  }
  & section {
    padding: 0 0 12rem 0;
  }
}

html.mobile {
  font-size: 14px;
  & section {
    padding: 0 0 12rem 0;
  }
  & .wrapper {
    overflow: hidden;
  }
}
